.col-xs-6.col-sm-4.col-md-4.col-lg-3.tile[tile.object]{:style => "background:##{tile.bg}", "data-link" => tile.link}
  .background-icon
    %i.fa{:class => tile.icon}
  .row.foreground
    %h1.col-xs-12{:title => tile.title}= raw special_title tile.title
  - if tile.subtitle
    .row 
      .col-xs-12
        %h2= raw special_title(tile.subtitle, :span)
  - if tile.partial
    .row= render :partial => tile.partial, :object => tile.object || tile
  - else
    %p= simple_format(tile.body)

- if tile.modal_title or tile.modal_body
  .modal.fade{:id => dom_id(tile.object)+"_modal"}
    .modal-dialog
      .modal-content
        - if tile.modal_title
          .modal-header
            %h4.modal-title= tile.modal_title 
        .modal-body= raw tile.modal_body
  :javascript
     $('##{dom_id(tile.object)}').click(function() {$('##{dom_id(tile.object)}_modal').modal('show')}).css("cursor","pointer")

