= form_for(target, :url => event, :remote => true, :method => :put, :html => {:class => "event_update_form"}) do |f|
  .target_actions
    %h2 Actions
    = target.actions
  .target_reflection
    %h2 Reflection
    - unless target.complete_date or target.drop_date
      = f.text_area :reflection
    - else
      = target.reflection
  .target_date
    - if target.drop_date
      %h2 Drop Date
    - else
      %h2 Complete Date
    - unless target.complete_date or target.drop_date
      = f.date_select :complete_date, :order => [:day,:month,:year], :use_short_month => true
      = hidden_field_tag :person_id, @topic.mis_id
      = submit_tag "Complete", :value => "Complete"
    - else
      = pretty_date(target.complete_date || target.drop_date)

- unless target.complete_date or target.drop_date
  = button_to "Drop", event_url(event,"target[drop_date]" => Date.today), :method => :put, :remote => true, :form_class => "event_update_form"
