= form_for target, :remote => true do |f|
  = hidden_field_tag :event_id, event.id
  .target_actions
    %h2 Actions
    = target.actions
  .target_reflection
    %h2 Reflection
    - unless target.complete_date
      = f.text_area :reflection
    - else
      = target.reflection
  .target_date
    %h2 Complete Date
    - unless target.complete_date
      = f.date_select :complete_date, :order => [:day,:month,:year], :use_short_month => true
      = submit_tag "Complete", :id => "complete"
      = submit_tag "Drop"
    - else
      = pretty_date(target.complete_date)
