%li.dropdown.hidden-xs.hidden-sm
  %button.btn.navbar-btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
    Write Note
    %i.fa.fa-edit
  .panel.dropdown-menu.dropdown-menu-right.panel-default{:style => "width:400px;padding-top:0"}
    .panel-heading
      %h4.panel-title= Settings.front_page_note_prompt
    .panel-body
      = form_for @user.notes.new, :url => "/events" do |f|
        = f.hidden_field :person_id
        = hidden_field_tag :eventable_type, "Note"
        = hidden_field_tag :redirect_to, person_view_url(@user, View.for_user.where(:name => "all").first, :anchor => "current_time_break")
        .input-group
          = f.text_field :body, :class => "form-control", :placeholder => "Write a note..."
          %span.input-group-btn
            %button{:type => "submit", :class => "btn btn-primary"}
              %i.fa.fa-edit

