.col-xs-12.col-sm-4.col-md-3.col-lg-2.tile[event]{:style => "background:##{event.tile_bg}"}
  .background-icon
    %i.fa{:class => event.tile_icon}
  %header
    .row
      .col-xs-9= event.tile_title or raw special_title event.title
      .col-xs-2
        %i.fa.fa-bars.front-event-menu{"data-toggle" => "dropdown"}
        %ul.dropdown-menu.dropdown-menu-right
          %li.dropdown-header Actions
          - if event.is_deletable?
            %li
              = link_to person_event_url(event.person, event), :method => :delete, :remote => true, :class => "delete-event" do
                %i.fa.fa-trash-o
                Delete
          - else
            %li.disabled
              %a
                %i.fa.fa-trash-o
                Delete
    .row 
      .col-xs-12
        .subtitle= raw special_title(event.subtitle, :span)
  %p= event.body
