#initial-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{:type => 'button', :class => 'close', "data-dismiss" => 'modal', 'aria-label' => 'Close'}
          %span{"aria-hidden" => 'true'}
            &times;
        %h3.modal-title Initial Review
      = create_event_form InitialReview do |f|
        = f.text_field :topic_id, :type => 'hidden', :readonly => true, :value => @topic.id, :disabled => (true unless @user.staff?)
        = f.text_field :progress_id, :type => 'hidden', :readonly => true, :disabled => (true unless @user.staff?)
        .modal-body.row
          .form-group.col-md-12
            .form-group.row
              .col-md-4
                = f.label ('Target Grade'), :for => :initial_review_target_grade
                = f.select(:target_grade, options_for_select(grades), {}, {:class => 'form-control', :disabled => (true unless @user.staff?), :required => true})
          .form-group.col-md-12
            = f.label ('Learner / Tutor Comments')
            = f.text_area :body, :style => "height:200px", :placeholder => "#{@topic.possessive_name('Your')} review comments...", :class => 'form-control', :disabled => (true unless @user.staff?)
          #scores.form-group.col-md-12
            .form-group.row
              .col-md-6
                %label Maths Initial Assessment
                = text_field :maths_ia, nil, :disabled => true
              .col-md-6
                %label English Initial Assessment
                = text_field(:english_ia, nil, :disabled => true)
            .form-group.row
              .col-md-6
                %label Maths diagnostic
                = text_field(:maths_da, nil, :disabled => true)
              .col-md-6
                %label English diagnostic
                = text_field(:english_da, nil, :disabled => true)
            .form-group.row
              .col-md-6
                %label GCSE Score
                = text_field(:gcse_score, nil, :disabled => true)
        .modal-footer
          .pull-left
            %em{:style => "color: grey", :id => "initial-review-by"}
          .submit-review
            = add_event_button if @user.staff?