.person{:style => "height:110px"}
  .person_photo= image_tag("#{url_for(login_as)}.jpg")
  .details
    %h3= truncate(login_as.name, :length => 17)
    %h5.quiet= login_as.mis_id
    = link_to "Login as staff", person_url(login_as, :login_as => "staff")
    = link_to "Login as student", person_url(login_as, :login_as => "student")
    = link_to "Login as parent", person_url(login_as, :login_as => "affiliate")
