.col-md-12
  - @progress_bar.each do |key, a|
    .course-progress
      .row.row-eq-height
        - if a["initial"].present?
          - a['initial'].body = 'No comments' if a['initial'].body.empty?
          .col-md-6.col-xs-12.initial-review.present.top-section{:onClick => 'displayInitialView("' + a['initial'].target_grade.tr(?", ?').to_s + '" , "' + a['initial'].body.squish.tr(?", ?').to_s + '","' + a["initial"].person.name.to_s + '","' + a["initial"].created_at.to_formatted_s(:long) + '","' + a["course"].bksb_maths_ia.to_s + '","' + a["course"].bksb_english_ia.to_s + '","' + a["course"].bksb_maths_da.to_s + '","' + a["course"].bksb_english_da.to_s + '")'}
            %h4{:style => "margin-bottom: 5px"} Target Grade for
            %h4 #{a["course"].course_title.upcase}
            %h3 #{a['initial'].target_grade.to_s}
            .pull-left.pull-bottom.initial-author
              - if a["course"].tutor
                %h6 Tutor: #{a["course"].tutor.short_name}
        - else
          .col-md-6.col-xs-12.initial-review.top-section.clickable{:style => 'background-color: #d9edf7; color:grey', :onClick => ('displayInitial("' + a["course"].id.to_s + '","' + a["course"].bksb_maths_ia.to_s + '","' + a["course"].bksb_english_ia.to_s + '","' + a["course"].bksb_maths_da.to_s + '","' + a["course"].bksb_english_da.to_s + '")' if @user.staff?)}
            %h4 Target Grade for
            %h4 #{a["course"].course_title.upcase}
            .pull-left.pull-bottom.initial-author
              - if a["course"].tutor
                %h6 Tutor: #{a["course"].tutor.short_name}
        - if !a["attendance"].nil?                    
          .col-md-6.col-xs-12.top-section.clickable{:style => "background: ##{a['attendance'].bg}", "data-toggle" => 'modal', 'data-target' => "#modal_" + a["attendance"].id.to_s }
            %h4 Attendance
            %h3 #{a["attendance"].att_year}%
        - else
          .col-md-6.col-xs-12.top-section{:style => 'background-color: #d9edf7; color: grey'}
            %h4 Attendance
            %h3 0%        
      .row
        .col-md-12.col-sm-12
          .row
            - if a["initial"].present?
              .col-md-2.hidden-xs.col-sm-2.review-section.present.clickable{:onClick => 'displayInitialView("' + a['initial'].target_grade.tr(?", ?').to_s + '" , "' + a['initial'].body.squish.tr(?", ?').to_s + '","' + a["initial"].person.name.to_s + '","' + a["initial"].created_at.to_formatted_s(:long) + '")'}
                %h5 Initial Review
                %h4 Completed
            - else
              .col-md-2.hidden-xs.col-sm-2.review-section.clickable{:style => 'background-color: #d9edf7; color:grey', :onClick => ('displayInitial("' + a["course"].id.to_s + '")' if @user.staff?)}
                %h5 Initial Review
                %h4 Incomplete
            - (1..5).each do |i|
              - if (a["reviews"][i].present? && a["reviews"][i].number == i)
                - a["reviews"][i].body = 'No comments' if a["reviews"][i].body.empty?
                .col-md-2.hidden-xs.col-sm-2.review-section.has_tooltip{:class => a["reviews"][i].level, :onClick => 'displayReviewView("' + a["reviews"][i].number.to_s + '","' + a["reviews"][i].working_at.tr(?", ?').to_s + '","' + a["reviews"][i].attendance.to_s + '","' + a["reviews"][i].body.squish.tr(?", ?').to_s + '","' + a["reviews"][i].person.name.to_s + '","' + a["reviews"][i].created_at.to_formatted_s(:long) + '")', :title => a["reviews"][i].ragp_desc, "data-placement" => "right"}
                  %h5 Working at
                  %h4 #{a["reviews"][i].working_at}
                  %h6.pull-bottom.pull-right PAR #{i}
              - else
                .col-md-2.hidden-xs.col-sm-2.review-section{ :style => 'color: grey', :onClick => ('displayReview("'+ i.to_s + '", "' + a["course"].course_code + '", "'+ a["attendance"].att_year.to_s + '", "' + a["course"].id.to_s + '")' if @user.staff? && !a["attendance"].nil?)}
                  %h5 Review
                  %h6.pull-bottom.pull-right PAR #{i}
    %hr
    - if !a["attendance"].nil?
      .modal.fade{:id => "modal_" + a["attendance"].id.to_s, "tabindex" => '-1', :role => 'dialog'}
        .tile-modal.modal-dialog
          .modal-content{:style => "background: ##{a['attendance'].bg}"}
            .modal-body.row
              .attendance-tile.col-md-6.col-sm-6.col-xs-6
                = render :partial => "tiles/attendance", :locals => {:attendance => a["attendance"]}
              .attendance-text.md-6.col-sm-6.col-xs-6
                %h4{:style => 'margin-bottom: 5px'} Your attendance for #{a["course"].course_title} is
                %h2 #{a["attendance"].att_year}% 