- npr = Settings.num_progress_reviews.to_i
.col-md-12
  - if @progress_bar.empty?
    %p{:style => 'text-align: center'}It looks like you are not currently enrolled on any courses at South Devon College. If you feel this is a mistake, please speak to your Personal Tutor or visit Helpzone on Level 3.
  - @progress_bar.each do |progress|
    - next if ! progress.show_par_course?
    .course-progress
      .row.row-eq-height
        - if progress.show_par_reviews?
          .col-md-6.col-xs-12.top-section{:class => '' + (progress.initial.present? ? ' present' : '') + ( ( progress.initial.present? || ( !progress.initial.present? && ( InitialReview::par_is_enabled? ) ) ) ? ' initial-review clickable' : ''  ), "data-id" => (h(progress.initial.id) if progress.initial.present?), "data-progress-id" => h(progress.id), :title => ( @user.staff? ? h(progress.course_code.upcase) : '' ), "data-editable" => (progress.initial.present? ? "#{progress.initial.try(:is_editable)}" || 'false' : 'false')}
            %h4{:style => "margin-bottom: 5px"} Target Grade for
            %h4 #{ h(progress.course_title.upcase) }
            - if progress.initial.present? && progress.show_par_reviews?
              %h3 #{ h(progress.initial.target_grade.to_s) }
        - else
          .col-md-6.col-xs-12.top-section{:class => '', :title => ( @user.staff? ? h(progress.course_code.upcase) : '' )}
            %h4 #{ h(progress.course_title.upcase) }

        .col-md-3.col-xs-12.top-section.attendance-block.clickable{:style => ("background: ##{h(progress.attendance.bg_6_week)}" unless progress.attendance.nil?), "data-toggle" => 'modal', 'data-target' => ("#modal_6week_" + h(progress.attendance.id.to_s) unless progress.attendance.nil?)}
          %h4 Attendance 
          - attendance_6_weeks = progress.attendance.try(:att_6_week) || nil
          - if attendance_6_weeks.nil?
            %h3 N/A
          - else
            %h3 #{ h(attendance_6_weeks) }%
          (last 6 weeks)

        .col-md-3.col-xs-12.top-section.attendance-block.clickable{:style => ("background: ##{h(progress.attendance.bg)}" unless progress.attendance.nil?), "data-toggle" => 'modal', 'data-target' => ("#modal_" + h(progress.attendance.id.to_s) unless progress.attendance.nil?)}
          %h4 Attendance
          - if progress.attendance.nil?
            %h3 0%
          - else
            %h3 #{ h(progress.attendance.att_year) }%
          (overall)

      - if progress.show_par_reviews?
        .row
          .col-md-2.hidden-xs.col-sm-2.review-section{:class => '' + (progress.initial.present? ? ' present' : '') + ( ( progress.initial.present? || ( !progress.initial.present? && ( InitialReview::par_is_enabled? ) ) ) ? ' initial-review clickable' : '' ), "data-id" => (h(progress.initial.id) if progress.initial.present?), "data-progress-id" => h(progress.id), "data-editable" => (progress.initial.present? ? "#{progress.initial.try(:is_editable)}" || 'false' : 'false')}
            %h5 Initial Review
            - if progress.initial.present?
              %h4 Completed
            - else
              Incomplete

          - (1..npr).each do |i|
            - review = progress.reviews[i]; # readability
            - if (review.present? && review.number == i)
              .col-md-2.hidden-xs.col-sm-2.review-section.has_tooltip.progress-review.clickable{:class => h(review.level), :title => h(review.ragp_desc), "data-placement" => "right", :style => 'color: black', "data-id" => h(review.id), "data-att" => (h(progress.attendance.att_year) if !progress.attendance.nil?), "data-number" => i, "data-max-number" => npr, "data-editable" => "#{review.try(:is_editable)}" || 'false'}
                - if i == npr
                  %h5 Achieved
                - else
                  %h5 Working at
                %h4 #{h(review.working_at)}
                %h6.pull-bottom.pull-right PAR #{i}
            - else
              .col-md-2.hidden-xs.col-sm-2.review-section{:class => ("progress-review clickable" if @user.staff? && !progress.attendance.nil? && ( ProgressReview::par_is_enabled?(i) ) ), "data-progress-id" => h(progress.id), "data-att" => (h(progress.attendance.att_year) if !progress.attendance.nil?), "data-number" => i, "data-max-number" => npr, "data-editable" => 'false'}
                %h5 Review
                %h6.pull-bottom.pull-right PAR #{i}
    %hr
    - if !progress.attendance.nil?
      .modal.fade{:id => "modal_" + h(progress.attendance.id.to_s), "tabindex" => '-1', :role => 'dialog'}
        .tile-modal.modal-dialog
          .modal-content{:style => "background: ##{h(progress.attendance.bg)}"}
            .modal-body.row
              .attendance-tile.col-md-6.col-sm-6.col-xs-6
                = render :partial => "tiles/attendance", :locals => {:attendance => progress.attendance}
              .attendance-text.md-6.col-sm-6.col-xs-6
                %h4{:style => 'margin-bottom: 5px'} Your attendance for #{h(progress.course_title)} is
                %h2 #{h(progress.attendance.att_year)}% 
      .modal.fade{:id => "modal_6week_" + h(progress.attendance.id.to_s), "tabindex" => '-1', :role => 'dialog'}
        .tile-modal.modal-dialog
          .modal-content{:style => "background: ##{h(progress.attendance.bg_6_week)}"}
            .modal-body.row
              .attendance-tile.col-md-6.col-sm-6.col-xs-6
                = render :partial => "tiles/attendance_6week", :locals => {:attendance => progress.attendance}
              .attendance-text.md-6.col-sm-6.col-xs-6
                %h4{:style => 'margin-bottom: 5px'} Your attendance for #{h(progress.course_title)} for the last 6 weeks is
                - if (a6w = progress.attendance.try(:att_6_week)).nil?
                  %h2 N/A
                - else
                  %h2 #{h(a6w)}%
:javascript
  var authorisation = #{@user.staff? ? 'true' : 'false'};
  var base = "#{ h(request.base_url) }/people/#{ h(@topic.mis_id) }/";
  var authorisation_a = #{@user.admin? ? 'true' : 'false'};
  var authorisation_su = #{@user.superuser? ? 'true' : 'false'};