- npr = Settings.num_progress_reviews.to_i

#review-modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:type => 'button', :class => 'close', "data-dismiss" => 'modal', 'aria-label' => 'Close'}
          %span{"aria-hidden" => 'true'}
            &times;
        %h3#review-title.modal-title Progress & Attendance Review
      %input{:type => 'hidden', :disabled => true, :value => false, :id => 'open-id'}
      = create_event_form ProgressReview do |f|
        = (f.text_field :topic_id, :type => 'hidden', :readonly => true, :value => @topic.id) if @user.staff?
        = (f.text_field :progress_id, :type => 'hidden', :readonly => true) if @user.staff?
        .modal-body.col-md-12
          .form-group.row
            .col-md-3                
              .input-group
                .input-group-addon Number
                = f.text_field :number, :readonly => true, :class => 'form-control', :disabled => (true unless @user.staff?)
            .col-md-5
              .input-group
                .input-group-addon Working at
                = f.select(:working_at, options_for_select(grades), {}, {:class => 'form-control', :disabled => (true unless @user.staff?), :required => true})
            .col-md-4
              .input-group
                .input-group-addon Attendance
                = f.text_field :attendance, :readonly => true, :class => 'form-control', :disabled => (true unless @user.staff?)
          - if @user.staff?
            - if Settings.par_guidance_active == "on"
              #par-guidance-section
                #par-guidance.guidance.row
                  - (1..npr).each do |i|
                    .guidance-text-class{:id => "guidance-text-#{i}"}
                      - if ProgressReview::par_guidance_title( i ).present?
                        %h2= "#{ProgressReview::par_guidance_title( i )}"
                      - else
                        %h2 Guidance:
                      - if ProgressReview::par_guidance_text( i ).present?
                        %ul
                          - ProgressReview::par_guidance_text( i ).each do |pth|
                            %li{:class => "#{pth[:class]}"}="#{pth[:text]}"
                      - else
                        %ul
                          %li Overall Learner/Tutor Comments.
                          %li.par-guidance-previous Review improvement targets from previous PAR – have these been met? How has this been evidenced?
                          %li.par-guidance-next Improvement targets for next PAR (including any carried over from previous PAR). Please focus on skills and knowledge for improvement targets.
          .form-group.row
            .col-md-12
              = f.text_area :body, :style => "height:200px", :placeholder => "Learner / Tutor Comments...", :class => 'form-control', :disabled => (true unless @user.staff?), :required => true
          #current-level.form-group.row
            .col-md-6
              .input-group
                .input-group-addon Current Level
                %select{ :name => "progress_review[level]", :class => 'form-control level', :id => 'progress_review_level', :required => 'required', :disabled => (true unless @user.staff?)}
                  %option{:value => '', :selected => (not ["purple","green","amber","red"].include? :level), :disabled => true}= "Choose"
                  %option{:value => 'purple', :class => 'purple', :selected => (:level == "purple")}= "PURPLE (Consistently achieving at least one grade above target)"
                  %option{:value => 'green', :class => 'green', :selected => (:level == "green")}= "GREEN (On target and making expected progress)"
                  %option{:value => 'amber', :class => 'amber', :selected => (:level == "amber")}= "AMBER (One grade below target)"
                  %option{:value => 'red', :class => 'red', :selected => (:level == "red")}= "RED (Two grades below target)"
        .modal-footer.no-padding
          #submitted
            .pull-left.review-author.col-md-6
              %em.pull-left{:id => "review-by"}
            - if @user.staff?
              .edit_countdown_timer.col-md-4
                %small#review_edit_countdown
              .pull-right.action-button.col-md-2
                %button#edit-review{:class => "btn btn-primary", :type => "button"} Edit
                %button#save-review{:class => "btn btn-success", :type => "button"} Save
          #review-submit.submit-review
            - if @user.staff?
              %input{:class => "btn btn-primary pull-right full-button", :name => "commit", :type => "submit", :value => "Submit review"}
%script{ :type => "text/javascript" }
  :plain
    var can_edit_grade = "#{Person.user.can_edit_grade?}";
