%h2= Settings.front_page_note_prompt
= form_for @topic.notes.new, :url => "/events", :html => {:class => "form-inline", :style => "margin: 10px 20px"} do |f|
  = hidden_field_tag :eventable_type, "Note"
  = f.text_field :body, :class => "span9"
  = hidden_field_tag :redirect_to, person_view_url(@topic, View.for_user.where(:name => "all").first, :anchor => "current_time_break")
  = submit_tag "Post", :class => "btn btn-primary span1"
