- if Settings.home_page == "progress"
  - grades = Settings.qqoe_grade.split ","
  #home.row
    #progress.panel.panel-default
      .panel-body
        .col-md-12
          .row
            .col-xs-2.hidden-xs.hidden-sm
              #news= render :partial => "people/news_modal" if @news
            #aspiration= render :partial => "people/aspiration"
            #notifications=render :partial => "people/notifications" if @notifications.present?
          %hr{:style => "margin-top: 5px"}
          %div{:style => "text-align: center"}
            %h3.title{:style => "color: #4f2170; margin-bottom: 10px"} Progress and Attendance Reviews (PAR)
        #progress-bars= render :partial => "people/progress_bars"
        #dynamic-reviews= render :partial => "people/review_modal", :locals => { :grades => grades }
        #dynamic-initials= render :partial => "people/initial_modal", :locals => { :grades => grades }
        :javascript
          var topic = #{@topic.id.to_s};
        = javascript_include_tag 'cloud.min'
- else
  #home.row= render @tiles