= link_to(person_timetables_url(@topic, :date => @next_timetable_event), {:class => "unstyled_link"}) do
  #next_lesson
    .icon
      %h4 Next lesson
      = image_tag("timetable.png")
    .content
      - if @next_timetable_event
        .timetable_event_link= @next_timetable_event.title
        .timetable_event_date
          .timetable_event_header= @next_timetable_event.start.strftime('%A')
          .small_text= @next_timetable_event.start.strftime('%H.%M%P')
          .small_text
            Room:
            = @next_timetable_event.rooms.join ", "
        .timetable_event_location
          .small_text= @next_timetable_event.start.strftime('%d/%m/%y')            
          .small_text= @next_timetable_event.teachers.map{|t| t.name}.join ", "
      - else 
        %b You have no current timetable events.
