#person_home
  = render :partial => 'personal_details'
  = render :partial => 'thoughts'
  = render :partial => 'next_lesson'
  - if @user.staff? and @user == @topic
    = render :partial => 'my_courses'
  - else
    = render :partial => 'attenance'
  = render :partial => 'targets'
  #advert.block.right{:style => "height:254px"}= raw Settings.advert_box_html
  = render :partial => 'moodle'
