#person_home
  #details.block
    %h3 Personal Details
    %dl
      %dt Name:
      %dd= @topic.name
      %dt Birth Date:
      %dd.last= @topic.date_of_birth.strftime("%d %B %Y")
      %dt Address:
      %dd= (@topic.address + [@topic.town,@topic.postcode]).reject{|x|x.blank?}.join(", ")
      %dt Mobile:
      %dd= @topic.mobile_number or "-"
      %dt Next of Kin:
      %dd= @topic.next_of_kin or "-"
    %p{:style => "margin:3px 0 0 0"}
      Are any of your personal details incorrect?
      = link_to "Notify us...", Settings.notify_details_change_url
  #your_thoughts.block
    %h3= Settings.front_page_note_prompt
    = form_for @topic.notes.new do |f|
      = f.hidden_field :person_id
      = f.text_field :body 
      = submit_tag "Post"
  .details_home_container
    #next_lesson.block
      .details_left
        %h4 Next lesson
        = link_to image_tag("timetable.png"), person_timetables_url(@topic)
      .details_right   
        - if @next_timetable_event
          #lesson_block
            .timetable_event_link= link_to @next_timetable_event.title, person_timetables_url(@topic)          
            .timetable_event_date
              .timetable_event_header= @next_timetable_event.start.strftime('%A')
              .small_text= @next_timetable_event.start.strftime('%H.%M%P')
              .small_text
                Room:
                = @next_timetable_event.rooms.join ", "
            .timetable_event_location
              .small_text= @next_timetable_event.start.strftime('%d/%m/%y')            
              .small_text= @next_timetable_event.teachers.map{|t| t.name}.join ", "
        - else 
          %b You have no current timetable events.
  .details_home_container.last
    #attendance.block{:class => @attendances.empty? ? "blank" : @attendances.last.status}
      - unless @attendances.empty?
        .graph
          %h3 Attendance
          %img{:src => attendance_graph(@attendances)}
        .percent
          %h1= "#{@topic.attendances.last.att_year}%"
          %h4.quiet= "at #{@topic.attendances.last.week_beginning}"
      - else
        %b You have no attendance data, yet.

  .details_home_container  
    #targets.block
      .details_left
        %h4 Targets
        = link_to image_tag("target_home.png"), person_view_url(@topic,View.find_by_name("targets"))
      .details_right      
        #target_list 
          - if @targets.empty?
            %b You have no targets, yet.
          - else
            .stu_target
              .target_date
                %b Due
              .target_body
                %b Target
            - @targets.each do |target|
              .stu_target{:class => target.complete_date ? "complete" : "current", :title => target[:body]}
                .target_date= pretty_date target.target_date
                .target_body= link_to truncate(target[:body], :length => 25), person_view_url(@topic, View.find_by_name("targets"), :anchor => dom_id(target.events.last))
  .details_home_container.last
    .block
      %h3 Advert
  .details_home_container
    #moodle_course.block
      .details_left
        %h4 Moodle
        = link_to image_tag("moodle.png"), "#{Settings.moodle_host}#{Settings.moodle_path}"
      .details_right
      - if @moodle_courses
        #moodle_course_list      
          - @moodle_courses.each do |mdl|
            .mdl_course{:style => "font-weight: #{mdl["canedit"] == "1" ? "bold" : "normal"}"}= link_to mdl["fullname"], "#{Settings.moodle_host}#{Settings.moodle_path}/course/view.php?id=#{mdl["id"]}"
      - else
        %p You have no current Moodle enrolments
  .details_home_container.last
      
