#person_home
  #personal_details.block
    %h3 Personal Details
    %dl
      %dt Name:
      %dd= @topic.name
      %dt Birth Date:
      %dd.last= @topic.date_of_birth.strftime("%d %B %Y")
      %dt Address:
      %dd= (@topic.address + [@topic.town,@topic.postcode]).reject{|x|x.blank?}.join(", ")
      %dt Mobile:
      %dd= @topic.mobile_number or "-"
      %dt Next of Kin:
      %dd= @topic.next_of_kin or "-"
    %p{:style => "margin:3px 0 0 0"}
      Are any of your personal details incorrect?
      = link_to "Notify us...", "cheese.com"
  #your_thoughts.block
    %h3 What's on your mind?
    = form_for @topic.notes.new do |f|
      = f.hidden_field :person_id
      = f.text_field :body 
      = submit_tag "Post"
  .person_home_container
    #next_lesson.block
      %h3 Next lesson
      - if @next_timetable_event
        %table
          %tr
            %th= @next_timetable_event.start.strftime('%H.%M%P')
            %td= link_to @next_timetable_event.title, person_timetables_url(@topic)
          %tr
            %th= @next_timetable_event.rooms.join ", "
            %td  A course
      - else 
        %p You have no current timetable events.
  .person_home_container.last
    .block
      %h3 Progress
  .person_home_container  
    #attendance.block{:class => @attendances.empty? ? "blank" : @attendances.last.status}
      %h3 Attendance
      - unless @attendances.empty?
        %img{:src => attendance_graph(@attendances)}
        .percent
          %h1= "#{@topic.attendances.last.att_year}%"
          %h4.quiet= "at #{@topic.attendances.last.week_beginning}"
      - else
        %p You have no attendance data, yet.
  .person_home_container.last
    .block
      %h3 Targets
  .person_home_container
    .block
      %h3 Advert
  .person_home_container.last
    .block
      %h3 Moodle Courses
