.col-xs-12.text-center
  - unless grade_track.name.blank?
    .panel{:style => "opacity:0.8;border:1px solid #000;"}
      %canvas{:height => 96, :width=>160}
- if grade_track.completion_out_of
  .col-xs-12
    .progress
      .progress-bar.progress-bar-striped{:style => "width:#{grade_track.completion_percent}%"}
        = grade_track.completion_total
      .text-muted
        - if grade_track.completion_total == 0
          0
        out of
        = grade_track.completion_out_of

:coffeescript
  canvas = $('##{dom_id(grade_track)} canvas')[0]
  c = canvas.getContext("2d")
  c.beginPath()
  c.strokeStyle = "#111"
  c.fillStyle = "#fff"
  c.lineWidth = 1
  c.moveTo(30,80)
  c.lineTo(140,20)
  c.moveTo(0.5,10)
  c.lineTo(0.5,90.5)
  c.lineTo(175,90.5)
  c.stroke()
  c.closePath()
  c.beginPath()
  c.lineWidth = 4
  c.moveTo(79.5,20)
  c.lineTo(79.5,40)
  c.stroke()
  c.closePath()
  c.beginPath()
  c.lineWidth = 1
  c.fillStyle = "#333"
  c.moveTo(79.5,52)
  c.lineTo(69.5,40)
  c.lineTo(89.5,40)
  c.lineTo(79.5,52)
  c.fill()
  c.closePath()
  c.font = "22px sans-serif"
  c.textBaseline = "middle"
  c.textAlign = "center"
  c.fillText("#{grade_track.total.blank? ? "n/a" : grade_track.total}", 80.5, 13)
  c.font = "18px sans-serif"
  c.textAlign = "left"
  c.textBaseline = "bottom"
  c.fillText("#{grade_track.mag}", 2, 90)
  c.textAlign = "right"
  c.textBaseline = "top"
  c.fillText("#{grade_track.tag}", 155, 35)
