.col-xs-12.text-center
  .dont-edit-grades
    - unless grade_track.name.blank?
      .panel{:style => "opacity:0.8;border:1px solid #000;"}
        %table.table{style: "font-size: 16px"}
          %tr 
            - if grade_track.tag.blank? 
              %td{colspan: 2} No target grade
            - else
              %td Target:
              %td= grade_track.tag
          %tr 
            - if grade_track.total.blank? 
              %td{colspan: 2} No current grade
            - else
              %td Working at:
              %td= grade_track.total
        - if Person.user.staff?
          = link_to_function "Update", "$('.dont-edit-grades').toggle();$('.edit-grades').toggle()"
    - if grade_track.completion_out_of
      .col-xs-12
        .progress
          .progress-bar.progress-bar-striped{:style => "width:#{grade_track.completion_percent}%"}
            = grade_track.completion_total
          .text-muted
            - if grade_track.completion_total == 0
              0
            out of
            = grade_track.completion_out_of
  .edit-grades{style: "display:none"}
    = create_event_form MdlGradeTrack do |f|
      - ["course_type","mdl_id","name","completion_out_of","completion_total"].each do |hf|
        = f.hidden_field hf, value: grade_track.send(hf)
      %table.table{style: "font-size: 14px"}
        %tr 
          %td Target:
          %td= f.select(:tag, Grade::NEW_LIST, {}, class: "form-control input-sm")
        %tr 
          %td Working at:
          %td= f.select(:total, Grade::NEW_LIST, {}, class: "form-control input-sm")
      .row
        .col-xs-6= link_to_function "Cancel", "$('.dont-edit-grades').toggle();$('.edit-grades').toggle()", class: "btn btn-sm btn-success"
        .col-xs-6
          %button{type: "submit", class: "btn btn-sm btn-primary"} Save
