.col-xs-12{"data-link" => person_timetables_url(@topic, :date => next_lesson.timetable_start)}
  %h2= next_lesson.title
  %h4
    %i.fa.fa-fw.fa-calendar
    = pretty_date(next_lesson.timetable_start, day: true)
  %h4
    %i.fa.fa-fw.fa-clock-o
    = next_lesson.timetable_start.getutc.to_s(:time)
    &ndash;
    = next_lesson.timetable_end.getutc.to_s(:time)
  %h5
    %i.fa.fa-fw.fa-map-marker
    = next_lesson.rooms.join (",")
  %h5 
    %i.fa.fa-fw.fa-mortar-board
    %em= next_lesson.teachers.join(",")
