.col-xs-12
  %h2= poll.question
  - if myans = @topic.simple_poll_answers.where(:simple_poll_id => poll.id).first
    - poll.results.each do |ans|
      .row{:class => myans.answer == ans.first ? "current" : nil}
        .col-xs-2= ans.last
        .col-xs-3= ans.first
  - else
    = create_event_form SimplePollAnswer do |f|
      = hidden_field_tag "simple_poll_answer[simple_poll_id]", poll.id
      - poll.answers.each do |ans|
        .row
          .col-xs-1= f.radio_button :answer, ans
          %label.control-label.col-xs-10= ans
      =submit_tag "Vote!", :class => "btn btn-primary btn-sm"
