.col-xs-12
  %h2= poll.question
  - if myans = @topic.simple_poll_answers.where(:simple_poll_id => poll.id).first
    %table.table.table-condensed{:style => "font-size:75%"}
      - poll.results.each do |ans|
        %tr{:class => myans.answer == ans.first ? "text-danger" : nil}
          %td.text-right= ans.last
          %td= ans.first
  - else
    = create_event_form SimplePollAnswer do |f|
      = hidden_field_tag "simple_poll_answer[simple_poll_id]", poll.id
      - poll.answers.each do |ans|
        .row
          .col-xs-1= f.radio_button :answer, ans
          %label.control-label.col-xs-9= ans
      =submit_tag "Vote!", :class => "btn btn-primary btn-sm"
