.col-xs-6.col-sm-4.col-md-4.col-lg-3.tile[tile.object || tile.event]{:style => "background:##{tile.bg}", "data-link" => tile.link}
  .background-icon
    %i.fa{:class => tile.icon}
  .row
    %h1.col-xs-12{:title => tile.title}= raw special_title tile.title
  - if tile.subtitle
    .row 
      .col-xs-12
        %h2= raw special_title(tile.subtitle, :span)
  - if tile.partial
    .row= render :partial => tile.partial, :object => tile.object || tile
  - else
    %p= simple_format(tile.body)
