.col-xs-12.col-sm-4.col-md-3.col-lg-2.tile[tile]{:style => "background:##{tile.tile_bg}"}
  .background-icon
    %i.fa{:class => tile.tile_icon}
  %header
    .row
      .col-xs-9= raw special_title tile.title
      .col-xs-2
        %i.fa.fa-bars.front-tile-menu{"data-toggle" => "dropdown"}
        %ul.dropdown-menu.dropdown-menu-right
          %li.dropdown-header Actions
          - if tile.is_deletable?
            %li
              = link_to person_event_url(tile.person, tile.event), :method => :delete, :remote => true, :class => "delete-event" do
                %i.fa.fa-trash-o
                Delete
          - else
            %li.disabled
              %a
                %i.fa.fa-trash-o
                Delete
    .row 
      .col-xs-12
        .subtitle= raw special_title(tile.subtitle, :span)
  %p= simple_format(tile.body)
