= form_for event.eventable, :remote => true do |f|
  = hidden_field_tag :event_id, event.id
  .review_attendance
    %h2 Attendance
    - if event.person.attendances.empty?
      .score ?
    - else
      .score= "#{event.person.attendances.last.att_year}%"
  .review_scores
    %table
      %tr
        %td Quality
        %td= f.select :quality, 0..10
        %td Punctuality
        %td= f.select :punctuality, 0..10
      %tr
        %td Attitude
        %td= f.select :attitude, 0..10
        %td Completion
        %td= f.select :completion, 0..10
  = f.text_area :comments
  .review_controls
    - if event.eventable.published_at?
      Published
    - else
      Not Published
    = submit_tag "Save"
