= form_for(review_line, :url => event, :remote => true, :method => :put, :html => {:class => "event_update_form"}) do |f|
  = hidden_field_tag :event_id, event.id
  = hidden_field_tag :eventable_type, "ReviewLine"
  = hidden_field_tag :person_id, @topic.mis_id
  .review_scores
    = f.text_field :unit
    %table
      %tr
        %td Quality
        %td= f.select :quality, 0..10
        %td Punctuality
        %td= f.select :punctuality, 0..10
      %tr
        %td Attitude
        %td= f.select :attitude, 0..10
        %td Completion
        %td= f.select :completion, 0..10
  = f.text_area :body, :style => "height: 100px"
  .review_controls
    = submit_tag "Save"
