.timetable-event{:style => "top:#{slot.timetable_margin + 37}px;height:#{slot.timetable_height}px", 
  :class => slot.status}
  %h5= slot.title
  %div
    = slot.timetable_start.strftime('%H.%M')
    - if slot.timetable_end 
      = "- #{slot.timetable_end.strftime('%H.%M')}"
  - if slot.kind_of? TimetableEvent
    %div= slot.rooms.join ", "
    .teachers= slot.teachers.join ", "
    .mark.status-fgp{:class => slot.status, :style => "background:transparent"}= slot.mark
  - elsif slot.kind_of? Event
    .body= slot.body
