.timetable-event{:style => "top:#{slot.timetable_margin + 93 + (@user.staff? ? 40 : 0)}px;height:#{slot.timetable_height}px", 
                 :class => slot.status}
  %h5= slot.title
  %div= "#{slot.start.getutc.strftime('%H.%M')} - #{slot.end.getutc.strftime('%H.%M')}"
  %div= slot.rooms.join ", "
  .teachers= slot.teachers.join ", "
  .mark.status-fgp{:class => slot.status, :style => "background:transparent"}= slot.mark
