.timetable-event{style: "top:#{slot.timetable_margin + 37}px;height:#{slot.timetable_height}px", 
                 class: "bg-#{slot.cl_status}"}
  %h5= slot.title
  %ul
    %li
      = slot.timetable_start.getutc.strftime('%H.%M')
      - if slot.timetable_end 
        = "- #{slot.timetable_end.getutc.strftime('%H.%M')}"
    - if slot.kind_of? TimetableEvent
      %li= slot.rooms.join ", "
      %li
        %i= slot.teachers.join ", "
      .mark{class: "text-#{slot.cl_status}", style: "background:transparent"}= slot.mark
    - elsif slot.kind_of? Event
      .body= slot.body
  = delete_event_button(slot) if slot.is_deletable?
