.row
  %ul.col-xs-8.text-left.pager{:style => "margin-top:0;padding-right:0;"}
    = form_tag person_timetables_url, :method => :get, :class => "form-inline" do
      %li
        = link_to person_timetables_url(@topic,:date => @date - 1.week), :class => "btn" do
          %i.fa.fa-arrow-left
          Previous 
      .hidden-xs.input-group
        = text_field_tag(:date, @date.strftime("%d %B %Y"), :class => "form-control", "data-provide" => "datepicker", "data-date-format" => 'd MM yyyy')
        %span.input-group-btn
          %button.btn.btn-primary Go!
      %li
        = link_to person_timetables_url(@topic,:date => @date + 1.week), :class => "btn" do
          Next
          %i.fa.fa-arrow-right  
  %button.btn.btn-primary.pull-right{"data-toggle" => "modal", "data-target" => "#add-tt-act-modal"}
    %i.fa.fa-fw.fa-plus
    Add Event  
  - if Person.user.admin?  
    %button.btn.btn-primary{:onclick => "countSlots()"}
      %i.fa.fa-fw.fa-plus
      Report Absence         
.row#timetable.panel.panel-default
  .col-xs-1
    .hour{:style => "height:37px"}
    - 8.upto(20) do |hour|
      .hour{:class => Time.now.hour == hour && "bold"}
        .visible-xs= hour
        .hidden-xs= "#{hour}.00"
  - @date.upto(@date.end_of_week) do |day|
    = render :partial => "cloud_day", :object => day, :locals => {:slots => (@registers + @events).select {|r| r.timetable_start > day and r.timetable_start < day.tomorrow.midnight }}
    / = render :partial => "cloud_day", :object => day, :locals => {:slots => (@registers + @events)}
  .col-xs-1.day
    %button.btn.btn-primary#show_weekend{:style => "width:100%"}
      %i.fa.fa-angle-double-right
    %button.btn.btn-primary#hide_weekend{:style => "width:100%;display:none"}
      %i.fa.fa-angle-double-left     
.row
  .pull-right
    .btn-group.dropup
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %i.fa.fa-download.fa-fw
        Download as calendar
        %span.caret
      %ul.dropdown-menu.dropdown-menu-right
        %li
          = link_to :format => :ics, :date => @date do
            %i.fa.fa-fw.fa-calendar
            Week
        %li
          = link_to :format => :ics, :year => true do
            %i.fa.fa-fw.fa-calendar-o
            Year        
.modal.fade#add-tt-act-modal
  .modal-dialog
    .modal-content
      = create_event_form TtActivity do |f|
        .modal-header
          %button.close{"data-dismiss" => "modal"}
            %span &times;
          %h4 Add a Timetable Event
        .modal-body
          .row
            .form-group.col-xs-6
              = f.label :tmp_date, "Date"
              = f.text_field :tmp_date, :class => "form-control", "data-provide" => "datepicker", "data-date-format" => "d MM yyyy",:value => Time.now.to_date
            .form-group.col-xs-6
              = f.label :tmp_time, "Time"
              .form_control
                = f.time_select :tmp_time, {:minute_step => 10}, :class => "form-control time-select"
          .row
            .form-group.col-xs-6
              = f.label :timetable_length, "Length"
              = f.select :timetable_length, TtActivity::TIME_SELECT, {}, :class => "form-control"
            .form-group.col-xs-6
              = f.label :repeat_type, "Repeat Type"
              = f.select :repeat_type, options_for_select(TtActivity::REPEAT_TYPES), {}, :class => "form-control"
          .row
            .form-group.col-xs-6
              = f.label :repeat_number, "No of repeats"
              = f.select :repeat_number, options_for_select((1..10).map{|n|[pluralize(n,"time"),n]}), {}, :class => "form-control"
            .form-group.col-xs-6
              = f.label :category, "Category"
              = f.select :category, Settings.tt_activity_categories.split(","), {}, :class => "form-control"
          .row
            .form-group.col-xs-12
              = f.label :body, "Text"
              = f.text_field :body, :class => "form-control"

        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal"} Close
          %button.btn.btn-primary Add
.modal.fade#add-absence-modal  
  .modal-dialog
    .modal-content  
      = form_for Absence.new do |f|     
        .modal-header
          %button.close{"data-dismiss" => "modal"}
            %span &times;
          %h4 Report New Absence
        .modal-body
          .row
            .form-group.col-xs-6   
              = f.label :category, "Reason"
              = f.select :category, Absence::REASONS, {:include_blank => "Choose one"}, :class => "form-control", :required => "required"
            .form-group.col-xs-6   
              = f.label :usage_code, "Mark"
              = f.select :usage_code, ["K","L","E","O","A"], {:include_blank => "Choose one"}, :class => "form-control", :required => "required"
          .row    
            .form-group.col-xs-6   
              = f.label :notified_at, "Notified at" 
              = f.text_field :notified_at, :class => "form-control", "data-provide" => "datepicker", :value => Time.now.to_date, "data-date-format" => "d MM yyyy"
              / = f.date_select :notified_at
            .form-group.col-xs-6
              = f.label :notified_at, "Time"
              .row
                .form-group.col-xs-5
                  = f.select :hours, '00'..'23', {:selected => Time.now.strftime("%H")}, :class => "form-control", :style => "width: 100%"
                .form-group.col-xs-1 :  
                - mins = ['00','05','10','15','20','25','30','35','40','45','50','55']
                .form-group.col-xs-5
                  = f.select :mins, mins, {:selected => ((Time.now.strftime("%M").to_i/5)*5).to_s}, :class => "form-control", :style => "width: 100%"
          .row
            .form-group.col-xs-6   
              = f.label :contact_category, "Method of Contact"
              = f.select :contact_category, Absence::CONTACT, {:include_blank => "Choose one"}, :class => "form-control", :required => "required"
          .row
            .form-group.col-xs-12   
              = f.label :body, "Extra Details"
              = f.text_area :body, :class => "form-control", :rows => 5   

          %input{:type => "hidden", :id => "reg-ids", :name => "reg_ids"}
          = f.hidden_field(:person_id, :value => @topic.mis_id)
          - if params[:date] && params[:date].to_date.is_a?(Date)
            = f.hidden_field(:date, :value => params[:date])
          = f.submit :class => "btn btn-primary", :onclick => "getRegEventIds()"
.modal.fade#no-slots-modal  
  .modal-dialog
    .modal-content   
      .modal-header   
        %h4 No Slots Selected
      .modal-body
        %p Please select slots from the timetable.    

%script{:type=>"text/javascript"}
  :plain
    function getRegEventIds() {

      var ids = $('.checked').map(function(){
        return $(this).attr('id');
      }).get();

      var dates = $('.checked').map(function(){
        return $(this).attr('value');
      }).get();

      var event_vars = [];
      event_vars.push(ids);
      event_vars.push(dates);

      var regIds = document.getElementById('reg-ids');

      regIds.value = JSON.stringify(event_vars);

      console.log(event_vars);    
      
    }       

    function countSlots() {

      var ids = $('.checked').map(function(){
        return $(this).attr('id');
      }).get();

      ids.length == 0 ? $('#no-slots-modal').modal('show') : $('#add-absence-modal').modal('show');

      console.log(ids.length);    

    }
