.row
  .span2
    = link_to send("#{@topic.class.name.underscore}_timetables_url", @topic,:date => @date - 1.week), :class => "btn btn-info" do
      %i.icon-white.icon-arrow-left
      Previous Week
  .span4.offset1
    = form_tag send("#{@topic.class.name.underscore}_timetables_url"), :method => :get, :class => "form-inline" do
      = hidden_field_tag(:date, @date, :id => "real_datepicker")
      .input-append<
        = text_field_tag(:pretty_date, @date.strftime("%a %d %b %Y"), :class => "timetable-datepicker")
        = submit_tag "go", :class => "btn btn-info"
  .span2.offset1
    =link_to send("#{@topic.class.name.underscore}_timetables_url",@topic,:date => @date + 1.week), :class => "btn btn-info pull-right" do
      Next Week
      %i.icon-white.icon-arrow-right
.row.timetable
  .day{:style => "text-align:right"}
    .div{:style => "height:33px"}
    - (8..20).to_a.each do |t|
      %h3= "#{t.to_s}.00"
  - @date.upto(@date.end_of_week - 1.day) do |day|
    = render :partial => "day", :object => day, :locals => {:slots => @registers.select {|r| r.start > day and r.start < day.tomorrow.midnight }}

- if @events
  #events= render @events

.online_help{:style => "display:none"}
  %h1 Timetables
  %p
    Weekly timetables are taken live from the MIS system and should always be
    up-to-date.
    %b
      If this data seems incorrect contact your LIS department. It is not 
      under the control of Leap.
  %p   
    The register marks are shown as the big characters in the bottom-right
    of each session. The colours of sessions are set by how the MIS system
    considers the marks from EMA purposes and have the following meaning:
    %dl
      %dt Green
      %dd Present (for EMA from EBS)
      %dt Amber
      %dd Authorised Sickness (for EMA from EBS)
      %dt Red
      %dd Absent (for EMA from EBS)
      %dt Blue
      %dd Unmarked (or completed)
  %p
    Any attendance percentages or absence reasons collected during this week 
    will be displayed below the timetable.
