#timetable_date
  #previous_week
    =link_to "< previous week", send("#{@topic.class.name.underscore}_timetables_url",@topic,:date => @date - 1.week)
  #calendar
    = form_tag send("#{@topic.class.name.underscore}_timetables_url"), :method => :get do
      -#= select_date(@date, :order => [:day, :month, :year]) 
      = text_field_tag(:pretty_date, @date.strftime("%a %d %b %Y"), :id => "datepicker")
      = hidden_field_tag(:date, @date, :id => "real_datepicker")
      = submit_tag "go"
  #next_week
    =link_to "next week >", send("#{@topic.class.name.underscore}_timetables_url",@topic,:date => @date + 1.week)
#timetable
  #hours
    - 8.upto(20) do |h|
      .hour
        %h2= "#{h}.00"
  - @date.upto(@date.end_of_week - 1.day) do |day|
    = render :partial => "day", :object => day, :locals => {:slots => @registers.select {|r| r.start > day and r.start < day.tomorrow.midnight }}

- if @events
  #events= render @events

- content_for :help do
  %h1 Timetables
  %p
    Weekly timetables are taken live from the MIS system and should always be
    up-to-date.
    %b
      If this data seems incorrect contact your LIS department. It is not 
      under the control of Leap.
  %p   
    The register marks are shown as the big characters in the bottom-right
    of each session. The colours of sessions are set by how the MIS system
    considers the marks from EMA purposes and have the following meaning:
    %dl
      %dt Green
      %dd Present (for EMA from EBS)
      %dt Amber
      %dd Authorised Sickness (for EMA from EBS)
      %dt Red
      %dd Absent (for EMA from EBS)
      %dt Blue
      %dd Unmarked (or completed)
  %p
    Any attendance percentages or absence reasons collected during this week 
    will be displayed below the timetable.
