= form_for @topic.events.new(:eventable_type => "ContactLog") do |f|
  %h3
    Log a contact as 
    = @topic.name
  .icon= image_tag "events/contact_logs.png"
  = f.text_area :body
  = f.hidden_field :person_id
  = f.hidden_field :eventable_type
  = hidden_field_tag "event[contact_person_id]", @user.id
  = hidden_field_tag :person_id, @topic.mis_id
  .sumbit= submit_tag "Add Log"
