- case support_strategy.status
- when "not_started"
  .target_body
    %h2 I have read and agreed to this support strategy.
    = button_to "Agree",    person_support_strategy_url(@topic,support_strategy,:event_id => @event.id, :agree => true), :method => :put , :remote => true
  .target_actions
    %h2 I have read and declined this support strategy.
    = button_to "Decline",  person_support_strategy_url(@topic,support_strategy,:event_id => @event.id, :decline => true), :method => :put , :remote => true
- when "current"
  .target_body
    %h2 
      Learner agreed to this support strategy
      = pretty_date support_strategy.agreed_date
  .target_actions
    %h2 Set this strategy as complete
    = button_to "Complete", person_support_strategy_url(@topic,support_strategy,:event_id => @event.id, :complete => true), :method => :put , :remote => true
- when "complete"
  %h2 
    Agreed
    = pretty_date support_strategy.agreed_date
  %h2
    Completed 
    = pretty_date support_strategy.completed_date
- when "incomplete"
  %h2
    Support declined
    = pretty_date support_strategy.declined_date
