= form_for @topic.support_strategies.new, :url => "/events" do |f|
  = f.hidden_field :event_id, :value => event.id
  = hidden_field_tag :person_id, @topic.mis_id
  = hidden_field_tag :eventable_type, "SupportStrategy"
  .strategy_body
    %h2 Support Strategy
    = f.text_area :body
    = submit_tag "Set"
