#chimp
  = form_for @topic.disciplinaries.new, :url => "/events" do |f|
    %h3
      Log a positive intervention
    .icon= image_tag "events/disciplinaries.png"
    = f.text_area :body
    = hidden_field_tag :eventable_type, "Disciplinary"
    = hidden_field_tag :person_id, @topic.mis_id
    .sumbit
      = f.select "level", options_for_select([["Amber Discp",-1],["Amber Past",0],["One",1],["Two",2],["Three",3]])
      = submit_tag "Add Log"
