%h2
  Log a contact as 
  = @user.name
= create_event_form ContactLog do |f|
  - if @user == @topic
    %h4.span9 Are you sure you want to create a contact log with yourself?
  .span1= image_tag(Person.user.photo_uri, :size => "48x48")
  .span8= f.text_area :body
  = add_event_button
