= form_for @topic.contact_logs.new, :url => "/events" do |f|
  %h3
    Log a contact as 
    = @user.name
  - if @user == @topic
    %h4.quiet Are you sure you want to create a contact log with yourself?
  .icon= image_tag("#{url_for(Person.user)}.jpg", :size => "48x48")
  = f.text_area :body
  = hidden_field_tag :eventable_type, "ContactLog"
  = hidden_field_tag :person_id, @topic.mis_id
  .sumbit= submit_tag "Add Log"

.online-help
  %h1 Contact Logs
  %p 
    Use these to record the brief details of contact you 
    have had with a student.
