%h2
  Log a contact as 
  = @user.name
= create_event_form ContactLog do |f|
  - if @user == @topic
    %h4.span9 Are you sure you want to create a contact log with yourself?
  .span1= image_tag("#{url_for(Person.user)}.jpg", :size => "48x48")
  .span8= f.text_area :body
  = add_event_button

.online-help
  %h1 Contact Logs
  %p 
    Use these to record the brief details of contact you 
    have had with a student.
