= form_for @topic.disciplinaries.new, :url => "/events" do |f|
  = hidden_field_tag :eventable_type, "Disciplinary"
  %h3
    Log a positive intervention
  .span1= image_tag "events/disciplinaries.png"
  .span3= f.select "level", options_for_select(Hash[*Settings.disciplinary_levels.split(",")].invert)
  .span5= f.text_area :body
  = add_event_button
