= create_event_form Disciplinary do |f|
  %h2
    Log a positive intervention
  .span1= image_tag "events/disciplinaries.png"
  .span5= f.text_area :body
  .span3
    = f.select "level", options_for_select(Hash[*Settings.disciplinary_levels.split(",")].invert)
    = submit_tag "Add", :class => "btn btn-primary pull-right"
