- grades  = Settings.review_grades.split(",")
- options = [grades,(0..(grades.count - 1)).to_a].transpose
%h2 Add an initial review 
= create_event_form ReviewLine do |f|
  .span9
    .row
      .span1= image_tag "events/reviews.png"
      .span4= f.text_area :body, :style => "height:100px"
      .span4
        .row
          %label.span2 Quality of Work
          = f.select :quality, options, {}, {:class => "span2"}
        .row
          %label.span2 Punctuality
          = f.select :punctuality, options, {}, {:class => "span2"}
        .row
          %label.span2 Attitude
          = f.select :attitude, options, {}, {:class => "span2"}
        .row
          %label.span2 Completion of Work
          = f.select :completion, options, {}, {:class => "span2"}

  = add_event_button
