= create_event_form ReviewLine do |f|
  %h2 Add an initial review 
  .span9
    .row
      .span1= image_tag "events/reviews.png"
      .span4= f.text_area :body
      .span4
        %table
          %tr
            %td Quality of Work
            %td= f.select :quality, 0..10, {}, {:class => "input-mini"}
            %td &nbsp;
            %td Punctuality
            %td= f.select :punctuality, 0..10, {}, {:class => "input-mini"}
          %tr
            %td Attitude
            %td= f.select :attitude, 0..10, {}, {:class => "input-mini"}
            %td &nbsp;
            %td Completion of Work
            %td= f.select :completion, 0..10, {}, {:class => "input-mini"}

  = add_event_button
