%h2 Refer a learner for intervention
= create_event_form Intervention do |f|
  .span9
    .row
      .span1= image_tag "events/intervention_referral.png"
      .span2
        %h4 Intervention Type
        - if @topic.kind_of? Person
          = f.select :pi_type, Intervention.intervention_types.keys.map{|k| [k,k.gsub(/\W+/,"_")] if ( @user.admin? && 1==1 ) || @topic.can_add_intervention_stage(k.gsub(/\W+/,"_")) }.compact, {}, :class => "span2"
        - else
          /= If @topic is Course (ie. no person is selected), show all pi types
          = f.select :pi_type, Intervention.intervention_types.keys.map{|k| [k,k.gsub(/\W+/,"_")] if ( 1==1 ) || @topic.can_add_intervention_stage(k.gsub(/\W+/,"_")) }.compact, {}, :class => "span2"  
      .span3
        %h4 Category
        - Intervention.intervention_types.each do |cat|
          = f.select :referral_category, cat.last, {}, :id => "intervention_referral_category_#{cat.first.gsub(/\W+/,"_")}", :style => "display:none"
      .span2
        %h4 Incident Date
        / = f.text_field :incident_date, :class => "datepicker span2"
        = f.text_field(:incident_date, {"data-date-format" => "dd M yyyy", "data-provide" => "datepicker", :class => "datepicker span2"})
      .span1
        %h4 Refer
        = f.select :referral, {"No" => false, "Yes" => true}, {}, :class => "span1"
    .row{:style => "margin-top:1ex"}
      .span9
        - Intervention.intervention_types.keys.each do |k|
          - unless Intervention.intervention_note(k).blank?
            .intervention_note{:id => "alert_#{k.gsub(/\W+/,"_")}", :style => "display:none"}
              .alert
                %b= Intervention.intervention_note(k)
    .row
      .span9
        = f.text_area :referral_text, :placeholder => "Supporting Information"
  = add_event_button

:coffeescript
  $('#intervention_pi_type').change (e) ->
    $('select[name="intervention[referral_category]"]').attr("disabled","disabled").hide()
    $('.intervention_note').hide()
    $('#alert_'  + $('#intervention_pi_type').val()).show()
    $("#intervention_referral_category_" + $('#intervention_pi_type').val()).removeAttr("disabled").show()
  $('#intervention_pi_type').change()

  # The following AJAX call repopulates PI type dropdown when user is selected from course view
  $(document).ready ->
    $('#person_id').on 'change', ->
      $.ajax
        url: '/populate_pi_types'
        type: 'GET'
        data: person_id: $(this).val()
        success: (data) ->
          console.log data
          $('#intervention_pi_type').empty()
          i = 0
          while i < data.length
            $('#intervention_pi_type').append '<option value="' + data[i][1] + '">' + data[i][0] + '</option>'
            i++
          return
      return
    return
