= create_event_form Intervention do |f|
  %h2 Refer a learner for intervention
  .span9
    .row
      .span1= image_tag "events/intervention_referral.png"
      .span2
        %h4 Intervention Type
        = f.select :pi_type, Intervention.intervention_types.keys, {}, :class => "span2"
      .span3
        %h4 Category
        - Intervention.intervention_types.each do |cat|
          = f.select :referral_category, cat.last, {}, :id => "intervention_referral_category_#{cat.first.dasherize}", :style => "display:none"
      .span2
        %h4 Incident Date
        = f.text_field :incident_date, :class => "datepicker span2"
      .span1
        %h4 Refer
        = f.select :referral, {"Yes" => true, "No" => true}, {}, :class => "span1"
    .row{:style => "margin-top:1ex"}
      .span9
        - Intervention.intervention_types.keys.each do |k|
          .intervention_note{:id => "alert_#{k}", :style => "display:none"}
            .alert= Intervention.intervention_note(k)
    .row
      .span9
        = f.text_area :referral_text, :placeholder => "Supporting Information"
  = add_event_button

:coffeescript
  $('select[name="intervention[referral_category]"]').first().removeAttr("disabled").show()
  $('.intervention_note').first().show()
  $('#intervention_pi_type').change (e) ->
    $('select[name="intervention[referral_category]"]').attr("disabled","disabled").hide()
    $('.intervention_note').hide()
    $('#alert_'  + $('#intervention_pi_type').val()).show()
    $("#intervention_referral_category_" + $('#intervention_pi_type').val()).removeAttr("disabled").show()
