%h2 Lat Score

%p 
  Age:
  = @topic.age
%p 
  No of Quals:
  = @topic.qualifications.count

%table.table
- @topic.qualifications.each do |q|
  %tr
    %td= q.qual_type
    %td= q.created_at.year
    %td= q.grade
    %td= q.lat_score or "-"

%h3
  Score:
  = @topic.lat_scor
