- unless Settings.review_windows.blank?
  = form_for @topic.review_lines.new, :url => "/events" do |f|
    %h3
      Add a review 
      = f.select :window, Settings.review_windows.split(/,/)
      for session
      = f.text_field :unit
    .icon= image_tag "events/reviews.png"
    = f.text_area :body
    .review_scores
      %table.reviews
        %tr
          %td Quality of Work
          %td= f.select :quality, 0..10
          %td Punctuality
          %td= f.select :punctuality, 0..10
        %tr
          %td Attitude
          %td= f.select :attitude, 0..10
          %td Completion of Work
          %td= f.select :completion, 0..10

    = f.hidden_field :person_id
    = hidden_field_tag :eventable_type, "ReviewLine"
    = hidden_field_tag :person_id, @topic.mis_id
    .sumbit{:style => "clear:both;float:right"}= submit_tag "Add"

.online-help
  %h1 Reviews
  %p
    To add a review for a student, do the following:
    %ul
      %li 
        Choose a review from the drop down box at the top 
        (there may only be one option).
      %li 
        If you may write a session title in the second box.
        The name of this unit will be stored and displayed with
        the review it doesn't have to be an official
        timetable unit.
      %li Write your comments in the text box.
      %li Use the drop down number boxes to score the learner.
      %li Press 'add' to save your review.
  %h3 To publish a review
  %p 
    The tutor should write their overall comments on the review
    event (which will be at the bottom of all review lines) and
    click the publish button checkbox before saving.
  %p
    %i
      Reviews will not be visible to students or parents until
      the whole review is published.
