- if Settings.review_windows.blank?
  .alert 
    %b There are currently no open review windows.
- else
  - if Settings.reverse_scores == "Reverse"
    - grades  = Settings.review_grades.split(",").reverse
    - options = [grades,(0..(grades.count - 1)).to_a.reverse].transpose
  - else 
    - grades  = Settings.review_grades.split(",")
    - options = [grades,(0..(grades.count - 1)).to_a].transpose
  %h2 Add a review 
  = create_event_form ReviewLine do |f|
    .span9
      .row
        .span1= image_tag "events/reviews.png"
        .span8
          .row
            .span4{:placeholder => "Session Name"}= f.text_field :unit, :class => "span4"
            .span1 Review:
            = f.select :window, Settings.review_windows.split(/,/), {}, :class => "span3"
          .row{:style => "margin-top:1ex"}
            .span4= f.text_area :body, :class => "span4", :style => "height:100px"
            .span4
              .row
                .span2= Settings.review_cat_quality
                = f.select :quality, options, {}, {:class => "span2"}
                .span2= Settings.review_cat_punctuality
                = f.select :punctuality, options, {}, {:class => "span2"}
                .span2= Settings.review_cat_attitude
                = f.select :attitude, options, {}, {:class => "span2"}
                .span2= Settings.review_cat_completion
                = f.select :completion, options, {}, {:class => "span2"}

    = add_event_button
