- if Settings.review_windows.blank?
  .alert 
    %b There are currently no open review windows.
- else
  = form_for @topic.review_lines.new, :url => "/events" do |f|
    = hidden_field_tag :eventable_type, "ReviewLine"
    %h3 Add a review 
    .row
      .span1 Review:
      .span4= f.select :window, Settings.review_windows.split(/,/)
      .span1 Session:
      .span2= f.text_field :unit
    .row
      .span1= image_tag "events/reviews.png"
      .span4= f.text_area :body
      .span4
        %table
          %tr
            %td Quality of Work
            %td= f.select :quality, 0..10, {}, {:class => "input-mini"}
            %td &nbsp;
            %td Punctuality
            %td= f.select :punctuality, 0..10, {}, {:class => "input-mini"}
          %tr
            %td Attitude
            %td= f.select :attitude, 0..10, {}, {:class => "input-mini"}
            %td &nbsp;
            %td Completion of Work
            %td= f.select :completion, 0..10, {}, {:class => "input-mini"}

      = add_event_button

.online-help
  %h1 Reviews
  %p
    To add a review for a student, do the following:
    %ul
      %li 
        Choose a review from the drop down box at the top 
        (there may only be one option).
      %li 
        If you may write a session title in the second box.
        The name of this unit will be stored and displayed with
        the review it doesn't have to be an official
        timetable unit.
      %li Write your comments in the text box.
      %li Use the drop down number boxes to score the learner.
      %li Press 'add' to save your review.
  %h3 To publish a review
  %p 
    The tutor should write their overall comments on the review
    event (which will be at the bottom of all review lines) and
    click the publish button checkbox before saving.
  %p
    %i
      Reviews will not be visible to students or parents until
      the whole review is published.
