#new_support_history
  = form_for @topic.support_histories.new, :url => "/events" do |f|
    %h3 Add support history information
    .icon= image_tag "events/support_histories.png"
    .select
      = select_tag "support_history[category]", options_for_select(Settings.support_history_categories.split(/,/))
    = f.text_area :body
    = hidden_field_tag :eventable_type, "SupportHistory"
    = hidden_field_tag :person_id, @topic.mis_id
    .sumbit= submit_tag "Add"

.online-help
  %h1 Support History
  %p
    %b Note:
    Support History should usually only be added by learning support staff.
