#new_support_request
  = form_for @topic.support_requests.new, :url => "/events" do |f|
    %h3 Request Support for learner
    .icon= image_tag "events/support_requests.png"
    .select
      %h4 Difficulties
      = select_tag "support_request[difficulties]", options_for_select(Settings.support_request_difficulties.split(/,/)), :multiple => true
    .select{:style => "width:300px"}
      %h4 Sessions
      = select_tag "support_request[sessions]", options_for_select(@topic.timetable_events(:from => (Date.today - 1.month), :to => (Date.today + 1.month)).map{|e| e.title}.uniq), :multiple => true
    = hidden_field_tag :eventable_type, "SupportRequest"
    = hidden_field_tag :person_id, @topic.mis_id
    .sumbit
      .ws 
        = f.check_box "workshop"
        Request workshop
      %hr
      = submit_tag "Request"

.online_help
  %h1 Support Request
  %p 
    These can be used to request support for learners.
    %ul
      %li
        Choose the difficulties the learner requires support for (hold down
        the <i>Ctrl</i> key to select more than one difficulty).
      %li
        Choose the timetable sessions the learner requires support for 
        (again, using <i>Ctrl</i> for multiple selections). If the learner
        has no current timetable sessions, this will be blank - just ignore
        it!
      %li 
        If the learner requires a support workshop, use the checkbox.
  %p 
    Your request will be reviewed by curriculum support staff.
