= create_event_form WorkPackage do |f|
  %h2 Work Package
  .row
    .span1= image_tag "events/work_packages.png"
    .span4
      %label Type
      = f.select :wp_type, options_for_select(Settings.work_package_types.split('|')), style: "width:100%"
    .span4
      %label Brief Description
      = f.text_field :description, style: "width:100%"
  .row
    .span1 &nbsp;
    .span4
      %label What have I learnt?
      = f.text_area :learnt
    .span4
      %label Next Steps
      = f.text_area :next_steps
  .row
    .span1 &nbsp;
    %label.span2 Days attended:
    = f.select :days, 1..50, {}, class: "span2"
  = add_event_button
