%article{:style => defined?(hidden) && 'none'}[event]
  %div[event.eventable]
    %header
      .icon= image_tag(event.icon_url, :size => "48x48", :alt => event.title, :title => event.title)
      %time{:datetime => event.event_date.strftime("%Y-%m-%dT%H:%M:%S%z")}
        .date= pretty_date event.event_date
        .time= pretty_time event.event_date
      %h1= event.title
      - if event.subtitle
        %h2
          .subtitle_word= event.subtitle.first
          .subtitle_date= pretty_date event.subtitle.last,false
    .body{:class => event.subtitle ? "subtitle" : nil}= raw event.body
    .buttons
      = link_to image_tag("actions/event_open.png"), open_extended_event_url(event), :remote => true, :class => "extend_button"
    .attachments
      .inner
        = render :partial => "events/mini", :collection => event.children.unique_eventable.forwards, :as => :event
    .extended{:style => "display:none"}
      .inner
