%article{:class => classes_for(event), :style => defined?(hidden) && 'none'}[event]
  .inner
    %header
      .icon= image_tag(event.icon_url, :size => "48x48", :alt => event.title, :title => event.title)
      %time{:datetime => event.event_date.strftime("%Y-%m-%dT%H:%M:%S%z")}
        .date= pretty_date event.event_date
        .time= event.event_date.strftime("%H.%M %P")
      %h1= event.title
      - if event.subtitle
        - event.subtitle.last
        %h2
          .subtitle_word= event.subtitle.first
          .subtitle_date= pretty_date event.subtitle.last,false
    .body= raw event.body
