%div{:style => defined?(hidden) && 'none',:class => [event.status, @multi ? "multi" : "single"]}[event]
  %div.inner[event.eventable]
    %header{:class => event.subtitle ? "subtitle" : nil}
      %h2.icon= image_tag(event.icon_url, :size => "48x48", :alt => event.title, :title => event.title)
      %time{:datetime => event.event_date.strftime("%Y-%m-%dT%H:%M:%S%z")}
        %h2.date= pretty_date event.event_date
        .time= pretty_time event.event_date
      - if @multi
        %h1.event_person
          = image_tag("#{url_for(event.person)}.jpg", :size => "48x48")
          = event.person.name
      %h1= event.title
      - if event.subtitle
        - if event.subtitle.respond_to? :last
          %h2
            .subtitle_word= event.subtitle.first
            .subtitle_date= pretty_date event.subtitle.last,false
        - else
          %h2= event.subtitle
    - if event.sanitize_options
      .body= sanitize event.body, event.sanitize_options
    - else
      .body= raw event.body
    .buttons
      = link_to image_tag("actions/event_open.png"), open_extended_event_url(event,:person_id => event.person.mis_id), :remote => true, :class => "extend_button", :observer => "false"
      = image_tag "actions/event_opened.png", :class => "close_extend_button", :style => "display:none", :observer => "false"
    .attachments
      .inner
        = render :partial => "events/mini", :collection => event.children.unique_eventable.order("event_date"), :as => :event
    .extended{:style => "display:none"}
      .inner
