%ul.tabs
  - if event.extra_panes
    - event.extra_panes.each do |pane|
      = tab dom_id(event), pane.first, pane.first.underscore
  - if event.extra_panes or @affiliation == "staff"
    = tab dom_id(event), "New Target", "target_set"
  - if @affiliation == "staff"
    = tab dom_id(event), "Extra Info", "full_details"
- if event.extra_panes    
  - event.extra_panes.each do |pane|
    .tab{:class => pane.first.underscore}= render :partial => pane.last, :locals => {:event => event, event.eventable_type.downcase.to_sym => event.eventable}
.tab.target_set{:style => "display: #{event.extra_panes ? 'none' : 'block'}"}
  = form_for Target.new, :remote => true do |f|
    = f.hidden_field :event_id, :value => event.id
    .target_body
      %h2 Target:
      = f.text_area :body
    .target_actions
      %h2 Actions:
      = f.text_area :actions
    .target_date
      %h2 Target date:
      = f.date_select :target_date, :use_short_month => true, :order => [:day, :month, :year], :start_year => Time.now.year, :default => Time.now + Settings.target_default_length
      = submit_tag "Set"
- if @affiliation == "staff"
  .tab.full_details{:style => "display:none"}
    = link_to "Delete", event_url(event), :method => :delete
    %h1 Event Details
    %table
      - event.attributes.each do |attr|
        %tr
          %th= attr.first
          %td= attr.last
    %h1= event.eventable.class.name
    %table
      - event.eventable.attributes.each do |attr|
        %tr
          %th= attr.first
          %td= attr.last
