%ul.tabs
  - if event.extra_panes
    - event.extra_panes.each do |pane|
      = tab dom_id(event), pane.first, pane.first.underscore
  - if event.extra_panes or @affiliation == "staff"
    = tab dom_id(event), "New Target", "target_set"
  - if @affiliation == "staff"
    = tab dom_id(event), "Extra Info", "full_details"
- if event.extra_panes    
  - event.extra_panes.each do |pane|
    .tab{:class => pane.first.underscore}= render :partial => pane.last, :locals => {:event => event, event.eventable_type.downcase.to_sym => event.eventable}
.tab.target_set{:style => "display: #{event.extra_panes ? 'none' : 'block'}"}
  = render :partial => "targets/new", :locals => {:event => event}
- if @affiliation == "staff"
  .tab.full_details{:style => "display:none"}
    = link_to "Delete", event_url(event), :method => :delete
    %h1 Event Details
    %table
      - event.attributes.each do |attr|
        %tr
          %th= attr.first
          %td= attr.last
    %h1= event.eventable.class.name
    %table
      - event.eventable.attributes.each do |attr|
        %tr
          %th= attr.first
          %td= attr.last
    - if event.eventable.respond_to? :mis
      %h1= event.eventable.mis.class.name
      %table
        - event.eventable.mis.attributes.each do |attr|
          %tr
            %th= attr.first
            %td= attr.last
