.tabs
  %ul
    - if event.extra_panes
      - event.extra_panes.each do |pane|
        %li
          %a{:href => "##{dom_id(event)}_#{pane.first.underscore}"}
            = pane.first
    - if event.extra_panes or @affiliation == "staff"
      %li
        %a{:href => "##{dom_id(event)}_target_set"} New Target
    - if @affiliation == "staff"
      %li
        %a{:href => "##{dom_id(event)}_full_details"} Extra Details
  - if event.extra_panes    
    - event.extra_panes.each do |pane|
      .tab{:id => "#{dom_id(event)}_#{pane.first.underscore}"}
        = render :partial => pane.last, :locals => {:event => event, event.eventable_type.underscore.to_sym => event.eventable}
  .tab{:id => "#{dom_id(event)}_target_set"}
    = render :partial => "targets/new", :locals => {:event => event}
  - if @affiliation == "staff"
    .tab{:id => "#{dom_id(event)}_full_details"}
      %h1 Event Details
      %table
        %tr
          %th Created by:
          %td= event.eventable.created_by.try(:name) or "Import"
      %table
        - event.attributes.each do |attr|
          %tr
            %th= attr.first
            %td= attr.last
      - if Settings.admin_users.split(/,/).include? @user.username    
        = form_for(event.eventable, :url => event, :remote => true, :method => :put, :html => {:class => "event_update_form"}) do |f|
          %table
            - event.eventable.attributes.each do |attr|
              %tr
                %th= attr.first
                %td= event.eventable.class.accessible_attributes.include?(attr.first) ? f.text_field(attr.first) : attr.last
          = submit_tag
      - else
        %h1= event.eventable.class.name
        %table
          - event.eventable.attributes.each do |attr|
            %tr
              %th= attr.first
              %td= attr.last
        - if event.eventable.respond_to? :mis
          %h1= event.eventable.mis.class.name

          %table
            - event.eventable.mis.attributes.each do |attr|
              %tr
                %th= attr.first
                %td= attr.last

        - else
          This record does not exist in the MIS
