#new_support_request
  = form_for @topic.support_requests.new, :url => "/events" do |f|
    %h3 Request Support for learner
    .icon= image_tag "events/support_requests.png"
    .select
      %h4 Difficulties
      = select_tag "support_request[difficulties]", options_for_select(Settings.support_request_difficulties), :multiple => true
    .select
      %h4 Sessions
      = select_tag "support_request[sessions]", options_for_select(@topic.timetable_events(:from => (Date.today - 1.month), :to => (Date.today + 1.month)).map{|e| e.title}.uniq), :multiple => true
    = hidden_field_tag :eventable_type, "SupportRequest"
    = hidden_field_tag :person_id, @topic.mis_id
    .sumbit= submit_tag "Request"
