%table
  %tr 
    %th Quality of Work
    %td= initial_review.quality
    %th Punctuality
    %td= initial_review.punctuality
  %tr 
    %th Attitude
    %td= initial_review.attitude
    %th Completion of Work
    %td= initial_review.completion
.content= raw event_format initial_review.body
