- if intervention.workshops.try(">", 0) or intervention.referral
  %span.label.pull-right{:class => intervention.referral && "label-warning"}
    = "Referral" if intervention.referral
    - if intervention.workshops.try(">", 0)
      = " - " if intervention.referral
      = pluralize(intervention.workshops, "workshop")
%h5
  = intervention.pi_type
  &mdash;
  = intervention.referral_category
%p
  - if intervention.incident_date
    %b= pretty_date(intervention.incident_date) + ":"
  - case event.transition
  - when :create
    = intervention.referral_text
  - when :complete
    = intervention.disc_text
    