= link_to_if @user.staff? && !Settings.ebs_course_base_url.blank?, person_course.course.title, (Settings.ebs_course_base_url + person_course.course.mis_id)
%span.label.pull-right{:class => person_course.status}
  = person_course.status.humanize
  - if person_course.mis_status
    = "(#{person_course.mis_status})"
%div
  - if person_course.start_date
    = person_course.start_date.strftime("%d %B %Y")
  = "-"
  - if person_course.end_date
    = person_course.end_date.strftime("%d %B %Y")
