- if person_course.mis_status
  %span.label.pull-right{:class => person_course.status, :style => 'color: #333'}
    = person_course.mis_status
- if event.transition == :create and !person_course.entry_reqs.blank?
  .pull-right.icon.icon-tasks{:title => "This course has entry requirements", :style => "margin-right:7px"}
- if event.transition == :create and person_course.vague_title
  = person_course.vague_title
  = "(aiming for #{person_course.offer_code})" unless  person_course.offer_code.blank?
    
- else
  = link_to_if @user.staff? && !Settings.ebs_course_base_url.blank? && Settings.ebs_link_name.present?, person_course.course.name, (Settings.ebs_course_base_url + person_course.course.mis_id), :class => 'slchk'
  - unless person_course.tutorgroup.blank?
    %span.label= person_course.tutorgroup

- unless event.transition == :create
  %div
    - if person_course.start_date and person_course.end_date
      = raw "#{person_course.start_date.strftime("%d %B %Y")} &ndash; #{person_course.end_date.strftime("%d %B %Y")}"
    - elsif person_course.start_date
      = "Starts: #{person_course.start_date.strftime("%d %B %Y")}"
