%h4= qualification.body
- if qualification.awarding_body == "BKSB"
  - result_page = /Diagnostic/.match(qualification.body) ? "DiagReport" : "IAReport"
  = link_to "http://#{Settings.bksb_url}/bksb_portal/Reports/#{result_page}.aspx?session=#{qualification.mis_id}", :class => "btn btn-info btn-mini", :target => "_blank" do
    More info
    %i.icon-chevron-right.icon-white
