= link_to person_event_url(review.person, event, :format => "pdf"), {"class" => "btn", "#{review.published ? "data-hacky" : "disabled"}" => "disabled"} do
  %i.icon-print
  print
= link_to person_event_url(review.person, review.events.creation.first), :class => "btn" do
  %i.icon-th-list
  Show entire review

- if review.attendance
  %h4 
    Attendance:
    = "#{review.attendance}%"
