- if ( review_line.quality or review_line.punctuality or review_line.attitude or review_line.completion )
  - grades  = Settings.review_grades.split(",")
  %table
    %tr 
      %th.span2= Settings.review_cat_quality
      %td.span2= grades[review_line.quality]
      %th.span2= Settings.review_cat_punctuality
      %td.span2= grades[review_line.punctuality]
    %tr 
      %th.span2= Settings.review_cat_attitude
      %td.span2= grades[review_line.attitude]
      %th.span2= Settings.review_cat_completion
      %td.span2= grades[review_line.completion]
- elsif 1 == 2
  %h4= review_line.unit
  %p= raw event_format review_line.body
- else
  %h4=""
  %p=""
