%h5= "#{work_package.wp_type} for #{work_package.days} #{'day'.pluralize(work_package.days)}"
%h5= work_package.description
%br
%h4 What have I learnt?
%p= work_package.learnt
%h4 Next Steps
%p= work_package.next_steps
