.span10
  = form_for(person_course, :url => event, :remote => true, :method => :put, :html => {:class => "edit-event-form"}) do |f|
    = hidden_field_tag :person_id, @topic.mis_id
    %p= Settings.application_offer_text
    %p 
      From the information discussed at today's meeting you are aiming to enrol on
      %span.input-append<
        = f.text_field :offer_code
        = submit_tag "Add", :class => "btn btn-primary span1"

