%ul.breadcrumb
  %li
    = render "layouts/admin_menu"
    %span.divider /
  %li Settings
%h1 Settings

= form_for :settings, :html => {:class => "form-horizontal", :id => "admin-settings-form"} do

  %h2 Administration

  .control-group
    %label.control-label Admin Users
    .controls
      = text_field_tag "admin_users", Settings.admin_users
  :coffeescript
    $("#admin_users").tokenInput "/people/select", 
      prePopulate : #{Settings.admin_users.map{|p| Person.find(p)}.map{|p| {:id => p.id, :name => p.name, :readonly => (p == @user)}}.to_json}

  .control-group
    %label.control-label Home Page Advert Box
    .controls
      = text_area_tag "advert_box_html", Settings.advert_box_html

  %h2 BKSB
  .alert.alert-info
    If you enter correct BKSB settings here, then BKSB results can be automatically imported for users. Leave these
    blank to disable this.
  .alert.alert-warning
    You may need to restart Leap for these settings to take effect.
  .control-group
    %label.control-label BKSB URL
    .controls
      = text_field_tag "bksb_url", Settings.bksb_url
  .control-group
    %label.control-label BKSB API Password
    .controls
      = text_field_tag "bksb_pwd", Settings.bksb_pwd
  .control-group
    %label.control-label BKSB IIS Username
    .controls
      = text_field_tag "bksb_iis_username", Settings.bksb_iis_username
  .control-group
    %label.control-label BKSB IIS Password
    .controls
      = password_field_tag "bksb_iis_pwd", Settings.bksb_iis_pwd
    

  %h1 Old Settings!

  - @settings2 = @settings - ["admin_users","advert_box_html","bksb_pwd","bksb_url","bksb_iis_username","bksb_iis_pwd"]
  - @settings2.each do |setting|
    .control-group
      %label.control-label{:for => setting}= setting.humanize
      .controls= text_field_tag setting, Settings[setting]
  .form-actions
    = submit_tag "Save Changes", :class => "btn btn-primary"
