%ul.breadcrumb
  %li
    = render "layouts/admin_menu"
    %span.divider /
  %li Settings
%h1 Settings

= form_for :settings, :html => {:class => "form-horizontal", :id => "admin-settings-form"} do

  %h2 Administration

  .control-group
    %label.control-label Admin Users
    .controls
      = text_field_tag "admin_users", Settings.admin_users
  :coffeescript
    $("#admin_users").tokenInput "/people/select", 
      prePopulate : #{Settings.admin_users.map{|p| Person.find(p)}.map{|p| {:id => p.id, :name => p.name, :readonly => (p == @user)}}.to_json}

  .control-group
    %label.control-label Home Page Advert Box
    .controls
      = text_area_tag "advert_box_html", Settings.advert_box_html

  %h2 BKSB
  .well
    If you enter correct BKSB settings here, then BKSB results can be automatically imported for users. Leave these
    blank to disable this.
  .alert.alert-warning
    You may need to restart Leap for these settings to take effect.
  .control-group
    %label.control-label BKSB URL
    .controls
      .input-prepend<
        %span.add-on http://
        = text_field_tag "bksb_url", Settings.bksb_url
  .control-group
    %label.control-label BKSB API Password
    .controls
      = password_field_tag "bksb_pwd", Settings.bksb_pwd
  .control-group
    %label.control-label BKSB IIS Username
    .controls
      = text_field_tag "bksb_iis_username", Settings.bksb_iis_username
  .control-group
    %label.control-label BKSB IIS Password
    .controls
      = password_field_tag "bksb_iis_pwd", Settings.bksb_iis_pwd

  %h2 Pathways
  .control-group
    %label.control-label Pathway choices
    .controls
      = text_field_tag "pathways", Settings.pathways

  %h2 Quick Quals on Entry Input
  .well
    These are comma separated lists for each of the fields in the Quick Quals on Entry input control. They become buttons
    below each field which, when pressed, will load that text into the input box. This is quicker than typing it all
    in every time if you have to input loads of QOEs

  .control-group
    %label.control-label Selection Type
    .controls
      = select_tag "qqoe_select_type", options_for_select(["Select","Button","None"], Settings.qqoe_select_type)
  .control-group
    %label.control-label Qualification Types
    .controls
      = text_area_tag "qqoe_qual_type", Settings.qqoe_qual_type
  .control-group
    %label.control-label Awarding Bodies
    .controls
      = text_area_tag "qqoe_awarding_body", Settings.qqoe_awarding_body
  .control-group
    %label.control-label Subjects
    .controls
      = text_area_tag "qqoe_subject", Settings.qqoe_subject
  .control-group
    %label.control-label Grades
    .controls
      = text_area_tag "qqoe_grade", Settings.qqoe_grade

  %h2 Simple Poll
  .control-group
    %label.control-label Current Simple Poll
    .controls
      =select_tag "current_simple_poll", options_from_collection_for_select(SimplePoll.all,:id,:question,Settings.current_simple_poll), :include_blank => "** NO POLL **"

  %h1 Old Settings!
  .old-settings
    .alert
      I'll be working to move these into sections and to generally be easier to use over time :)
    - @settings2 = @settings - ["admin_users","advert_box_html","bksb_pwd","bksb_url","bksb_iis_username","bksb_iis_pwd",
                                 "qqoe_qual_type","qqoe_awarding_body","qqoe_subject","qqoe_grade","pathways",
                                 "qqoe_select_type","current_simple_poll"]
    - @settings2.each do |setting|
      .control-group
        %label.control-label{:for => setting}= setting.humanize
        .controls= text_field_tag setting, Settings[setting]
    .form-actions
      = submit_tag "Save Changes", :class => "btn btn-primary"
