- if @affiliation == "staff" and !@multi and @topic.kind_of?(Person)
  %header#event_header= render :partial => "header"
#events= render @events
- if @events.empty?
  There are currently no #{@view.label.pluralize} for you at the moment
- else
  #more_events_div= link_to raw("&darr; Load more events &darr;"), view_url(@view,{:all => params[:all], :date => @events.last.event_date}.merge(@topic.as_param)), :remote => true, :id => "more_events"
#more_events_loading{:style => "display:none"}= image_tag "ajax-loader.gif" 
