.class-list-person{class: [pc.status, "mis_#{pc.mis_status}"]}
  .row
    = link_to person_url(pc.person, :refresh => true) do
      .span1= image_tag("#{url_for(pc.person)}.jpg")
      .span2
        %h5= truncate(pc.person.name, :length => 20)
        %h6= pc.person.mis_id      
        - if pc.mis_status
          %span.label{:class => pc.status}= pc.mis_status
        - else
          .status-fg{:class => pc.status}= pc.status
