%table.plp_key.table-condensed.table-borderless
  %tbody
    %tr.ragp_light_purple
      %td{ "data-tableexport-display" => "none" } PURPLE
      %td{ "data-tableexport-display" => "none" } above&nbsp#{Settings.attendance_exceed_score.to_i}%
    %tr.ragp_light_green
      %td{ "data-tableexport-display" => "none" } GREEN
      %td{ "data-tableexport-display" => "none" } #{Settings.attendance_high_score}%-#{Settings.attendance_exceed_score.to_i-1}%
    %tr.ragp_light_amber
      %td{ "data-tableexport-display" => "none" } AMBER
      %td{ "data-tableexport-display" => "none" } #{Settings.attendance_low_score}%-#{Settings.attendance_high_score.to_i-1}%
    %tr.ragp_light_red
      %td{ "data-tableexport-display" => "none" } RED
      %td{ "data-tableexport-display" => "none" } below&nbsp;#{Settings.attendance_low_score.to_i}%