- npr = Settings.num_progress_reviews.to_i
- show_reviews = Progress.find(:all, :conditions => ["course_code = ? and course_year = ?", @topic.code, @topic.year] ).present?
- person_attendance = Hash.new
- show_plp_tabs = Settings.plp_tabs.split(',')

.pull-right.btn-group
  %a.btn.btn-primary.btn-sm.active{"data-course-person-filter" => "show-all"}
    %i.fa.fa-filter
      All
  - @statuses.reject{|x| x.first.nil?}.each do |s|
    %a.btn.btn-sm{"data-course-person-filter" => s.first.parameterize, :class => "btn-#{s.last}"}= s.first

.plp_waitgif.hidden
  = image_tag "ajax-loader.gif"
  Loading ...

.btn-group
  %ul.row.nav.nav-tabs#reviews-home-tabs
    - if show_plp_tabs.include?("photos")
      %li.active 
        %a{:href => "#photo-list", "data-toggle" => "tab", :id => "photos_tab"} Photos
    - if show_plp_tabs.include?("overview")
      %li
        -# %a{:href => "#overview-plp", "data-toggle" => "tab"} Overview
        -# = link_to "Overview" , "#overview-plp", html_options = { "data-toggle" => "tab" }, :remote => true
        %a{:href => "#overview-plp", "data-toggle" => "tab", :id => "overview_tab"} Overview
    - if show_reviews && show_plp_tabs.include?("reviews")
      %li
        %a{:href => "#reviews-plp", "data-toggle" => "tab", :id => "reviews_tab"} Reviews
    - if show_plp_tabs.include?("support")
      %li
        %a{:href => "#support-plp", "data-toggle" => "tab", :id => "support_tab"} Support
    - if show_plp_tabs.include?("checklist")
      %li
        %a{:href => "#checklist", "data-toggle" => "tab", :id => "checklist_tab"} Checklist
    - if show_plp_tabs.include?("badges")
      %li
        %a{:href => "#badges", "data-toggle" => "tab", :id => "badges_tab"} Badges
    - if show_plp_tabs.include?("achievement")
      %li
        %a{:href => "#achieve", "data-toggle" => "tab", :id => "achievement_tab"} Achievement
    - if show_plp_tabs.include?("progress")
      %li
        %a{:href => "#progress", "data-toggle" => "tab", :id => "progress_tab"} Progress

.tab-content
  - if show_plp_tabs.include?("photos")
    .tab-pane.fade.in.active.panel.panel-default.row#photo-list{:style => "border-top: 0"}
      %br
      .col-xs-12
      = render :partial => "people/enrolment", :collection => @person_courses

  - if show_plp_tabs.include?("overview")
    .tab-pane.fade.panel.panel-default.row.table-responsive#overview-plp
      -# = render :partial => "courses/plp_overview", :locals => { :npr => npr, :person_attendance => person_attendance }

  - if show_reviews && show_plp_tabs.include?("reviews")
    .tab-pane.fade.panel.panel-default.row.table-responsive#reviews-plp
      -# = render :partial => "courses/plp_reviews", :locals => { :npr => npr, :person_attendance => person_attendance }

  - if show_plp_tabs.include?("support")
    .tab-pane.fade.panel.panel-default.row#support-plp
      -# = render :partial => "courses/plp_support"

  - if show_plp_tabs.include?("checklist")
    .tab-pane.fade.panel.panel-default.row#checklist
      -# = render :partial => "courses/plp_checklist"

  - if show_plp_tabs.include?("badges")
    .tab-pane.fade.panel.panel-default.row#badges
      -# = render :partial => "courses/plp_badges"

  - if show_plp_tabs.include?("achievement")
    .tab-pane.fade.panel.panel-default.row#achieve
      -# = render :partial => "courses/plp_achieve"

  - if show_plp_tabs.include?("progress")
    .tab-pane.fade.panel.panel-default.row#progress
      -# = render :partial => "courses/plp_progress"

-# if @user.staff?
  .row
    .span5
      .row.home-page-block.left{:load_block => reviews_block_course_url(@topic)}= image_tag "ajax-loader.gif"
    .span5
      - unless @topic.entry_reqs.empty?
        .row.home-page-block.right{:load_block => entry_reqs_block_course_url(@topic)}= image_tag "ajax-loader.gif"

- [['overview','overview-plp'], ['reviews','reviews-plp'], ['support','support-plp'], ['checklist','checklist'], ['badges', 'badges'], ['achievement', 'achieve'], ['progress', 'progress']].each do |plp|
  - if show_plp_tabs.include?(plp[0])
    :coffeescript
      #{plp[0]}_tab_clickcount=0
      #{plp[0]}_tab_loading=false
      $('#' + '#{plp[0]}' + '_tab').click (event) ->
        if ( #{plp[0]}_tab_loading==false && ( #{plp[0]}_tab_clickcount++ == 0 || event.ctrlKey ) )
          $('#' + '#{plp[1]}').html('').append( $('.plp_waitgif').html() )
          #{plp[0]}_tab_loading=true
          $.ajax "#{@topic.mis_id}/plps/#{plp[0]}",
            type: 'GET'
            dataType: 'html'
            #{@tutorgroup.present? ? 'data:{tutorgroup: "' + @tutorgroup + '"}' : ''}
            error: (jqXHR, textStatus, errorThrown) ->
              $('#' + '#{plp[1]}').html('').append "Error: " + errorThrown
              #{plp[0]}_tab_clickcount=0
              #{plp[0]}_tab_loading=false
            success: (html, textStatus, jqXHR) ->
              # $('#' + '#{plp[0]}' + '_tab').unbind("click")
              $('#' + '#{plp[1]}').html('').append html
              #{plp[0]}_tab_loading=false

              $('.btn-group > a.btn.active').click()                                # reapply page filters
              $('#' + '#{plp[1]}').find('[title]').tooltip({container: 'body'})     # reapply tooltip formatting

              # reapply export table buttons
              $('##{plp[1]} [data-download-table]').click ->
                $($(this).attr('data-download-table')).tableExport
                  type: $(this).attr('data-download-type')
                  escape: $(this).attr('data-download-escape') or false
                  htmlContent: true

              # reapply eye hiding
              $('##{plp[1]} [data-row-hide]').click ->
                $($(this).attr('data-row-hide')).toggleClass("visible-lg")

              return