- npr = Settings.num_progress_reviews.to_i
- show_reviews = Progress.find(:all, :conditions => ["course_code = ? and course_year = ?", @topic.code, @topic.year] ).present?
- person_attendance = Hash.new
- show_plp_tabs = Settings.plp_tabs.split(',')

.pull-right.btn-group
  %a.btn.btn-primary.btn-sm.active{"data-course-person-filter" => "show-all"}
    %i.fa.fa-filter
      All
  - @statuses.reject{|x| x.first.nil?}.each do |s|
    %a.btn.btn-sm{"data-course-person-filter" => s.first.parameterize, :class => "btn-#{s.last}"}= s.first

.btn-group
  %ul.row.nav.nav-tabs#reviews-home-tabs
    - if show_plp_tabs.include?("photos")
      %li.active 
        %a{:href => "#photo-list", "data-toggle" => "tab"} Photos
    - if show_plp_tabs.include?("overview")
      %li 
        -# %a{:href => "#overview-plp", "data-toggle" => "tab"} Overview
        -# = link_to "Overview" , "#overview-plp", html_options = { "data-toggle" => "tab" }, :remote => true
        %a{:href => "#overview-plp", "data-toggle" => "tab"} Overview
    - if show_reviews && show_plp_tabs.include?("reviews")
      %li 
        %a{:href => "#reviews-plp", "data-toggle" => "tab"} Reviews
    - if show_plp_tabs.include?("support")
      %li 
        %a{:href => "#support-plp", "data-toggle" => "tab"} Support
    - if show_plp_tabs.include?("checklist")
      %li 
        %a{:href => "#checklist", "data-toggle" => "tab"} Checklist
    - if show_plp_tabs.include?("badges")
      %li 
        %a{:href => "#badges", "data-toggle" => "tab"} Badges
    - if show_plp_tabs.include?("achievement")
      %li 
        %a{:href => "#achieve", "data-toggle" => "tab"} Achievement

.tab-content
  - if show_plp_tabs.include?("photos")
    .tab-pane.fade.in.active.panel.panel-default.row#photo-list{:style => "border-top: 0"}
      %br
      .col-xs-12
      = render :partial => "people/enrolment", :collection => @person_courses

  - if show_plp_tabs.include?("overview")
    .tab-pane.fade.panel.panel-default.row.table-responsive#overview-plp
      = render :partial => "courses/plp_overview", :locals => { :npr => npr, :person_attendance => person_attendance }

  - if show_reviews && show_plp_tabs.include?("reviews")
    .tab-pane.fade.panel.panel-default.row.table-responsive#reviews-plp
      = render :partial => "courses/plp_reviews", :locals => { :npr => npr, :person_attendance => person_attendance }

  - if show_plp_tabs.include?("support")
    .tab-pane.fade.panel.panel-default.row#support-plp
      = render :partial => "courses/plp_support"

  - if show_plp_tabs.include?("checklist")
    .tab-pane.fade.panel.panel-default.row#checklist
      = render :partial => "courses/plp_checklist"

  - if show_plp_tabs.include?("badges")
    .tab-pane.fade.panel.panel-default.row#badges
      = render :partial => "courses/plp_badges"

  - if show_plp_tabs.include?("achievement")
    .tab-pane.fade.panel.panel-default.row#achieve
      = render :partial => "courses/plp_achieve"

-# if @user.staff?
  .row
    .span5
      .row.home-page-block.left{:load_block => reviews_block_course_url(@topic)}= image_tag "ajax-loader.gif"
    .span5
      - unless @topic.entry_reqs.empty?
        .row.home-page-block.right{:load_block => entry_reqs_block_course_url(@topic)}= image_tag "ajax-loader.gif"


