%ul.row.nav.nav-tabs#course-home-tabs
  .pull-right.btn-group
    %a.btn.btn-primary.btn-sm.active{"data-course-person-filter" => "show-all"}
      %i.fa.fa-filter
        All
    - @statuses.each do |s|
      %a.btn.btn-sm{"data-course-person-filter" => s.first.parameterize, :class => "btn-#{s.last}"}= s.first
  %li.active 
    %a{:href => "#photo-list", "data-toggle" => "tab"} Photo List
  %li 
    %a{:href => "#traffic-lights", "data-toggle" => "tab"} PLP Overview
  %li 
    %a{:href => "#progress", "data-toggle" => "tab"} Progress

.tab-content
  .tab-pane.fade.in.active.panel.panel-default.row#photo-list{:style => "border-top: 0"}
    %br
    .col-xs-12
    = render :partial => "people/enrolment", :collection => @person_courses
  .tab-pane.fade.panel.panel-default.row#traffic-lights
    %table#plp-overview-table.table.table-hover.table-condensed.table-responsive
      %thead
        %tr
          %th{:colspan => 3}
          %th.bl Core
          %th.core_hide.visible-lg{:colspan => 2}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".core_hide"}
              %i.fa.fa-eye
          %th.bl English
          %th.visible-lg.english_hide{:colspan => 2}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".english_hide"}
              %i.fa.fa-eye
          %th.bl Maths
          %th.visible-lg.maths_hide{:colspan => 2}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".maths_hide"}
              %i.fa.fa-eye
          %th.bl{:colspan => 2}
        %tr
          %th.text-right Name
          %th LV3A
          %th Att
          - ["core","english","maths"].each do |ct|
            %th.bl Att
            %th.visible-lg{:class => "#{ct}_hide"} MAG
            %th.visible-lg{:class => "#{ct}_hide"} TAG
            %th Grade
          %th.bl{:title => "Review Completion"} Rev
          %th{:title => "Positive Intervention"} PI
      %tbody
        - @person_courses.each do |pc|
          %tr{"data-mis-status" => pc.mis_status.downcase}
            %td.text-right
              %b= link_to pc.name, pc.person
            - if pc.person.l3va
              %td.text-right= pc.person.l3va.round(1)
            - else
              %td.danger.text-center
                %i.fa.fa-frown-o
            - if pc.person.attendance
              %td{:class => pc.person.attendance.status(true)}= "#{pc.person.attendance.try :att_year}%"
            - else
              %td.danger.text-center
                %i.fa.fa-frown-o
            - ["core","english","maths"].each do |ct|
              - if pc.person.attendance(ct)
                %td.bl{:class => pc.person.attendance(ct).status(true)}= "#{pc.person.attendance(ct).try :att_year}%"
              - else
                %td.bl.danger.text-center
                  %i.fa.fa-frown-o
              - if mag = pc.person.mdl_grade_tracks.send(ct).last.try(:mag)
                %td.visible-lg{:class => "#{ct}_hide"}= mag
              - else
                %td.visible-lg.danger.text-center{:class => ["#{ct}_hide","danger"]}
                  %i.fa.fa-frown-o
              - if tag = pc.person.mdl_grade_tracks.send(ct).last.try(:tag)
                %td.visible-lg{:class => "#{ct}_hide"}= tag
              - else
                %td.visible-lg.danger.text-center{:class => "#{ct}_hide"}
                  %i.fa.fa-frown-o
              %td{:class => pc.person.mdl_grade_tracks.send(ct).last.try(:status)}= pc.person.mdl_grade_tracks.send(ct).last.try :total
            - if Settings.current_review_window
              - if cr = pc.person.reviews.where(:window => Settings.current_review_window).first
                %td.bl.text-center{:class => cr.published ? "success"   : "warning",
                                   :title => cr.published ? "Published" : "Started"}
                  = link_to person_event_url(cr.person, cr.events.creation.first) do
                    - if cr.published
                      %i.fa.fa-star
                      .hide Complete
                    - else
                      %i.fa.fa-star-half-full
                      .hide Started
              - else
                %td.bl.text-center.danger{:title => "Not Started"}
                  = link_to(person_view_url(pc.person,View.where(:name => "reviews").for_user.first)) do
                    %i.fa.fa-star-o
            - else
              %td{:title => "No Review Open"}
            %td
              - ints = pc.person.events.where(:eventable_type => "Intervention",:transition => :create).this_year.count
              - if ints != 0
                = link_to(person_view_url(pc.person,"intervention")) do
                  .label.label-danger= ints
    %br
    .pull-right
      .btn-group.dropup
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
          %i.fa.fa-download.fa-fw
          Download
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right
          %li
            %a{"data-download-table" => "#plp-overview-table", "data-download-type" => "excel"} 
              %i.fa.fa-fw.fa-file-excel-o
              Excel
          %li
            %a{"data-download-table" => "#plp-overview-table", "data-download-type" => "csv"} 
              %i.fa.fa-fw.fa-file-o
              CSV
  .tab-pane.fade.panel.panel-default.row#progress
    %table.table.table-hover.table-condensed.table-responsive
      %thead
        %tr
          %td &nbsp;
        %tr
          %th.text-right Name
          %th{:style => "width:25%"} Core
          %th{:style => "width:25%"} English
          %th{:style => "width:25%"} Maths
        - @person_courses.each do |pc|
          %tr{"data-mis-status" => pc.mis_status.downcase}
            %th.text-right= link_to pc.person.name, pc.person
            - 3.times do
              %td
                .progress
                  .progress-bar{:style => "width:#{(rand*100).floor}%"}
                    = (rand*9).floor
                    out of 10
-# if @user.staff?
  .row
    .span5
      .row.home-page-block.left{:load_block => reviews_block_course_url(@topic)}= image_tag "ajax-loader.gif"
    .span5
      - unless @topic.entry_reqs.empty?
        .row.home-page-block.right{:load_block => entry_reqs_block_course_url(@topic)}= image_tag "ajax-loader.gif"
