- npr = Settings.num_progress_reviews.to_i
%ul.row.nav.nav-tabs#course-home-tabs
  .pull-right.btn-group
    %a.btn.btn-primary.btn-sm.active{"data-course-person-filter" => "show-all"}
      %i.fa.fa-filter
        All
    - @statuses.reject{|x| x.first.nil?}.each do |s|
      %a.btn.btn-sm{"data-course-person-filter" => s.first.parameterize, :class => "btn-#{s.last}"}= s.first
  %li.active 
    %a{:href => "#photo-list", "data-toggle" => "tab"} Photos
  %li 
    %a{:href => "#academic-plp", "data-toggle" => "tab"} Academic PLP
  %li 
    %a{:href => "#course-plp", "data-toggle" => "tab"} Course PLP
  %li 
    %a{:href => "#support-plp", "data-toggle" => "tab"} Support PLP
  %li 
    %a{:href => "#reporting", "data-toggle" => "tab"} Reporting

.tab-content
  .tab-pane.fade.in.active.panel.panel-default.row#photo-list{:style => "border-top: 0"}
    %br
    .col-xs-12
    = render :partial => "people/enrolment", :collection => @person_courses

  .tab-pane.fade.panel.panel-default.row.table-responsive#academic-plp
    %table#academic-plp-table.table.table-hover.table-condensed
      %thead
        %tr
          %th{:colspan => 2}
          %th.bl{:colspan => 2}Core
          %th.core_hide.visible-lg{:colspan => 1}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".core_hide"}
              %i.fa.fa-eye
          %th.bl{:colspan => 2}English
          %th.visible-lg.english_hide{:colspan => 2}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".english_hide"}
              %i.fa.fa-eye
          %th.bl{:colspan => 2}Maths
          %th.visible-lg.maths_hide{:colspan => 2}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".maths_hide"}
              %i.fa.fa-eye
        %tr
          %th.text-right Name
          %th.text-center Att
          - ["core","english","maths"].each do |ct|
            %th.text-center.bl Att
            %th.text-center.visible-lg{:class => "#{ct}_hide"} Previous
            %th.text-center.visible-lg{:class => "#{ct}_hide"} Current
            %th.text-center TG
            - if ["english","maths"].include? ct
              %th.text.center.visible-lg{:class => "#{ct}_hide"} Reg
      %tbody
        - @person_courses.each do |pc|
          %tr{"data-mis-status" => pc.mis_status.downcase}
            %td.text-right
              %b= link_to pc.name, pc.person
            - if pc.person.attendance(:overall)
              %td{:class => pc.person.attendance.status(true)}= "#{pc.person.attendance.try :att_year}%"
            - else
              %td.text-center
                %i.fa.fa-frown-o
            - ["core","english","maths"].each do |ct|
              - if pc.person.attendance(ct)
                - title = "Attendance #{pc.person.attendance(ct).status(true)}"
                %td.bl{:class => pc.person.attendance(ct).status(true), :title => title}= "#{pc.person.attendance(ct).try :att_year}%"
              - else
                %td.text-center{:title => "No Attendance"}

              - found_reviews = []
              - (npr).downto(1).each { |x| found_reviews.push pc.person.progress_reviews.joins(:progress).where("progresses.id = progress_reviews.progress_id and progresses.course_year=? and course_code = ?",@topic.year,ct).order("number desc, created_at desc, id desc").where(:number => x).first }
              - found_reviews.compact!
              - (1..npr).each { found_reviews.push nil }
              - found_reviews[0..1].reverse.each do |g|
                - unless g.nil?
                  %td.text-center.visible-lg{:class => "ragp_light_#{g.level}", :title => "Review #{g.number} (#{g.created_at})"}= g.working_at
                - else
                  %td.text-center.text-muted.visible-lg.text-center{:class => ["ragp_light_grey"], :title => "No Review"}

              - tg = pc.person.initial_reviews.joins(:progress).where("progresses.id = initial_reviews.progress_id and progresses.course_year=? and course_code = ?",@topic.year,ct).order("created_at desc, id desc").first
              - unless tg.nil?
                %td.text-center.success{:title => "Target Grade"}= tg.target_grade 
              - else
                %td.text-center{:title => "No Target"}

              - if ["english","maths"].include? ct
                %td.text-center{:title => "Register Marks"}
                -#=pc.person.timetable_events(:from => @date, :to => @end_date).select {|r| r.title = 'GCSE Maths' and r.timetable_start <= Time.now}.last(3).map {|r| r.mark}.to_s
      %tfoot
        %tr
          %td{:colspan => 15} 
          %td.text-center
            - if @rpub 
              = link_to course_view_url(@topic,View.for_user.find_by_name("reviews"), :status => "complete", :title => @window, :format => "pdf"), :class => "btn btn-default btn-xs", :title => "Print all published reviews" do
                %i.fa.fa-print
    %br
    .pull-right
      .btn-group.dropup
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
          %i.fa.fa-download.fa-fw
          Download
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right
          %li
            %a{"data-download-table" => "#academic-plp-table", "data-download-type" => "excel"} 
              %i.fa.fa-fw.fa-file-excel-o
              Excel
          %li
            %a{"data-download-table" => "#academic-plp-table", "data-download-type" => "csv"} 
              %i.fa.fa-fw.fa-file-o
              CSV

  .tab-pane.fade.panel.panel-default.row.table-responsive#course-plp
    - ct = @topic.code
    %table#course-plp-table.table.table-hover.table-condensed
      %thead
        %tr
          %th{:colspan => 2}
          %th.bl{:colspan => npr}="#{@topic.code} (#{@topic.year})"
          %th.core_hide.visible-lg{:colspan => 1}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".#{ct}_hide"}
              %i.fa.fa-eye
        %tr
          %th.text-right Name
          %th.text-center Att
          - (1..npr).each do |x|
            %th.text-center.visible-lg{:class => "#{ct}_hide" + (x==1 ? " bl" : "") }= x
          %th.text-center.bl TG
          %th.visible-lg{:class => "#{ct}_hide"} Reg
      %tbody
        - @person_courses.each do |pc|
          %tr{"data-mis-status" => pc.mis_status.downcase}
            %td.text-right
              %b= link_to pc.name, pc.person
            - if pc.person.attendance(ct)
              %td{:class => pc.person.attendance(ct).status(true)}= "#{pc.person.attendance(ct).try :att_year}%"
            - else
              %td.text-center{:title => "No Attendance"}
            - (1..npr).each do |x|
              - g = pc.person.progress_reviews.joins(:progress).where("progresses.id = progress_reviews.progress_id and progresses.course_year=? and course_code = ?",@topic.year,ct).order("number desc, created_at desc, id desc").where(:number => x).first
              - unless g.nil?
                %td.text-center.visible-lg{:class => "ragp_light_#{g.level}" + (x==1 ? " bl" : ""), :title => "Review #{g.number} (#{g.created_at})"}= g.working_at
              - else
                %td.text-center.text-muted.visible-lg.text-center{:class => "ragp_light_grey" + (x==1 ? " bl" : ""), :title => "No Review"}

            - tg = pc.person.initial_reviews.joins(:progress).where("progresses.id = initial_reviews.progress_id and progresses.course_year=? and course_code = ?",@topic.year,ct).order("created_at desc, id desc").first
            - unless tg.nil?
              %td.text-center.bl.success{:title => "Target Grade"}= tg.target_grade 
            - else
              %td.text-center.bl{:title => "No Target"}

            %td.text-center{:title => "Register Marks"}
            -#=pc.person.timetable_events(:from => @date, :to => @end_date).select {|r| r.title = 'GCSE Maths' and r.timetable_start <= Time.now}.last(3).map {|r| r.mark}.to_s
      %tfoot
        %tr
          %td{:colspan => 15} 
          %td.text-center
            - if @rpub 
              = link_to course_view_url(@topic,View.for_user.find_by_name("reviews"), :status => "complete", :title => @window, :format => "pdf"), :class => "btn btn-default btn-xs", :title => "Print all published reviews" do
                %i.fa.fa-print
    %br
    .pull-right
      .btn-group.dropup
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
          %i.fa.fa-download.fa-fw
          Download
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right
          %li
            %a{"data-download-table" => "#course-plp-table", "data-download-type" => "excel"} 
              %i.fa.fa-fw.fa-file-excel-o
              Excel
          %li
            %a{"data-download-table" => "#course-plp-table", "data-download-type" => "csv"} 
              %i.fa.fa-fw.fa-file-o
              CSV

  .tab-pane.fade.panel.panel-default.row#support-plp
    %table.table.table-hover.table-condensed.table-responsive
      %thead
        %tr
          %td &nbsp;
        %tr
          %th.text-right Name
          %th.bl{:title => "Advice & Guidance (LEAP)"} A&G
          %th{:title => "Bursary (EBS)"} Bursury
          %th{:title => "Bus Pass (HZ)"} Bus Pass
          %th{:title => "Taxis (HZ)"} Taxis
          %th{:title => "Parking Permit (Estates/MD)"} Parking Permit
          %th{:title => "Free School Meals (EBS/MD)"} FSM
          %th{:title => "Vulnerable Learner (EBS)"} VL
          %th{:title => "Positive Intervention (LEAP)"} PI
          %th{:title => "Curriculum Support (LEAP)"} Support
          %th{:title => "Rev (LEAP)"} Rev
        - @person_courses.each do |pc|
          %tr{"data-mis-status" => pc.mis_status.downcase}
            %td.text-right
              %b= link_to pc.person.name, pc.person
            %td.bl
            %td
            %td
            %td
            %td
            %td
            %td
            %td
              - ints = pc.person.events.where(:eventable_type => "Intervention",:transition => :create).this_year.count
              - if ints != 0
                = link_to(person_view_url(pc.person,"intervention")) do
                  .label.label-danger= ints
            %td
            - if @window
              - if cr = pc.person.reviews.where(:window => @window).first
                %td.bl.text-center{:class => cr.published ? "success"   : "warning",
                                   :title => cr.published ? "Published" : "Started"}
                  = link_to person_event_url(cr.person, cr.events.creation.first) do
                    - if cr.published
                      %i.fa.fa-star
                      .hide Complete
                    - else
                      %i.fa.fa-star-half-full
                      .hide Started
              - else
                %td.bl.text-center.danger{:title => "Not Started"}
                  = link_to(person_view_url(pc.person,View.where(:name => "reviews").for_user.first)) do
                    %i.fa.fa-star-o
            - else
              %td.bl{:title => "No Review Open"}

  - indc = Settings.induction_checklist
  .tab-pane.fade.panel.panel-default.row#reporting
    %table.table.table-hover.table-condensed.table-responsive
      %thead
        %tr
          %td &nbsp;
        %tr
          %th.text-right Name
          - Settings.induction_questions.split(";").each.with_index do |iq, index|
            %th{:title => "#{iq}", :class => (index == 0 ? "bl" : nil) }=iq
        - @person_courses.each do |pc|
          %tr{"data-mis-status" => pc.mis_status.downcase}
            %td.text-right
              %b= link_to pc.person.name, pc.person
            - Settings.induction_questions.split(";").each.with_index do |iq, index|
              - fiq = pc.person.induction_questions.find_by_question(iq)
              %td{ :class => "text-center" + (index == 0 ? " bl" : "") + (fiq.nil? ? "" : " success"), :title => (fiq.nil? ? nil : "#{fiq.question}: #{fiq.answer}" ) }
                - unless fiq.nil?
                  %i.fa.fa-check

-# if @user.staff?
  .row
    .span5
      .row.home-page-block.left{:load_block => reviews_block_course_url(@topic)}= image_tag "ajax-loader.gif"
    .span5
      - unless @topic.entry_reqs.empty?
        .row.home-page-block.right{:load_block => entry_reqs_block_course_url(@topic)}= image_tag "ajax-loader.gif"


