%ul.row.nav.nav-tabs#course-home-tabs
  .pull-right.btn-group
    %a.btn.btn-primary.btn-sm.active{"data-course-person-filter" => "show-all"}
      %i.fa.fa-filter
        All
    - @statuses.reject{|x| x.first.nil?}.each do |s|
      %a.btn.btn-sm{"data-course-person-filter" => s.first.parameterize, :class => "btn-#{s.last}"}= s.first
  %li.active 
    %a{:href => "#photo-list", "data-toggle" => "tab"} Photo List
  %li 
    %a{:href => "#traffic-lights", "data-toggle" => "tab"} PLP Overview
  %li 
    %a{:href => "#progress", "data-toggle" => "tab"} Progress

.tab-content
  .tab-pane.fade.in.active.panel.panel-default.row#photo-list{:style => "border-top: 0"}
    %br
    .col-xs-12
    = render :partial => "people/enrolment", :collection => @person_courses
  .tab-pane.fade.panel.panel-default.row.table-responsive#traffic-lights
    %table#plp-overview-table.table.table-hover.table-condensed
      %thead
        %tr
          %th{:colspan => 3}
          %th.bl Core
          %th.core_hide.visible-lg{:colspan => 2}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".core_hide"}
              %i.fa.fa-eye
          %th.bl English
          %th.visible-lg.english_hide{:colspan => 2}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".english_hide"}
              %i.fa.fa-eye
          %th.bl Maths
          %th.visible-lg.maths_hide{:colspan => 2}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".maths_hide"}
              %i.fa.fa-eye
          %th.bl{:colspan => 2}
        %tr
          %th.text-right Name
          %th L3VA
          %th Att
          - ["core","english","maths"].each do |ct|
            %th.bl Att
            %th.visible-lg{:class => "#{ct}_hide"} MAG
            %th.visible-lg{:class => "#{ct}_hide"} TAG
            %th Grade
          %th.bl{:title => @window || "No open review window"} Rev
          %th{:title => "Positive Intervention"} PI
      %tbody
        - @person_courses.each do |pc|
          %tr{"data-mis-status" => pc.mis_status.downcase}
            %td.text-right
              %b= link_to pc.name, pc.person
            - if pc.person.l3va
              %td.text-right= pc.person.l3va.round(1)
            - else
              %td.danger.text-center
                %i.fa.fa-frown-o
            - if pc.person.attendance(:overall)
              %td{:class => pc.person.attendance.status(true)}= "#{pc.person.attendance.try :att_year}%"
            - else
              %td.danger.text-center
                %i.fa.fa-frown-o
            - ["core","english","maths"].each do |ct|
              - if pc.person.attendance(ct)
                - gt = pc.person.mdl_grade_tracks.send(ct).last
                - title = gt.try(:name) || "No Grade Tracker"
                %td.bl{:class => pc.person.attendance(ct).status(true), :title => title}= "#{pc.person.attendance(ct).try :att_year}%"
                - if gt.kind_of? MdlGradeTrack
                  - ["mag","tag"].each do |g|
                    - unless gt.send(g).blank?
                      %td.visible-lg{:class => "#{ct}_hide", :title => title}= gt.send(g)
                    - else
                      %td.text-muted.visible-lg.danger.text-center{:class => ["#{ct}_hide","danger"], :title => title}
                        %i.fa.fa-frown-o
                  - unless gt.total.blank?
                    %td{:class => gt.try(:status), :title => title}= gt.total
                  - else
                    %td.text-muted.danger.text-center{:class => ["#{ct}_hide","danger"], :title => title}
                      %i.fa.fa-frown-o
                - else
                  %td.text-muted.bl.visible-lg.active.text-center{:colspan => 3, :title => "No Grade Tracker"}
                    %i.fa.fa-meh-o
                  %td.text-muted.bl.hidden-lg.active.text-center{:title => "No Grade Tracker"}
                    %i.fa.fa-meh-o
              - else
                %td.bl.text-center.visible-lg{:colspan => 4}
                  %small.text-muted Enhanced PPD
                %td.bl.text-center.hidden-lg{:colspan => 2}
                  %small.text-muted Enhanced PPD
            - if @window
              - if cr = pc.person.reviews.where(:window => @window).first
                %td.bl.text-center{:class => cr.published ? "success"   : "warning",
                                   :title => cr.published ? "Published" : "Started"}
                  = link_to person_event_url(cr.person, cr.events.creation.first) do
                    - if cr.published
                      %i.fa.fa-star
                      .hide Complete
                    - else
                      %i.fa.fa-star-half-full
                      .hide Started
              - else
                %td.bl.text-center.danger{:title => "Not Started"}
                  = link_to(person_view_url(pc.person,View.where(:name => "reviews").for_user.first)) do
                    %i.fa.fa-star-o
            - else
              %td.bl{:title => "No Review Open"}
            %td
              - ints = pc.person.events.where(:eventable_type => "Intervention",:transition => :create).this_year.count
              - if ints != 0
                = link_to(person_view_url(pc.person,"intervention")) do
                  .label.label-danger= ints
      %tfoot
        %tr
          %td{:colspan => 15} 
          %td.text-center
            - if @rpub 
              = link_to course_view_url(@topic,View.for_user.find_by_name("reviews"), :status => "complete", :title => @window, :format => "pdf"), :class => "btn btn-default btn-xs", :title => "Print all published reviews" do
                %i.fa.fa-print
    %br
    .pull-right
      .btn-group.dropup
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
          %i.fa.fa-download.fa-fw
          Download
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right
          %li
            %a{"data-download-table" => "#plp-overview-table", "data-download-type" => "excel"} 
              %i.fa.fa-fw.fa-file-excel-o
              Excel
          %li
            %a{"data-download-table" => "#plp-overview-table", "data-download-type" => "csv"} 
              %i.fa.fa-fw.fa-file-o
              CSV
  .tab-pane.fade.panel.panel-default.row#progress
    %table.table.table-hover.table-condensed.table-responsive
      %thead
        %tr
          %td &nbsp;
        %tr
          %th.text-right Name
          %th{:style => "width:25%"} Core
          %th{:style => "width:25%"} English
          %th{:style => "width:25%"} Maths
        - @person_courses.each do |pc|
          %tr{"data-mis-status" => pc.mis_status.downcase}
            %td.text-right
              %b= link_to pc.person.name, pc.person
            - ["core","english","maths"].each do |ct|
              - if pc.person.attendance(ct)
                - if out_of = pc.person.mdl_grade_tracks.send(ct).last.try(:completion_out_of)
                  - total = pc.person.mdl_grade_tracks.send(ct).last.try(:completion_total)
                  %td.bl{:title => pc.person.mdl_grade_tracks.send(ct).last.try(:name)}
                    .progress.text-center
                      .progress-bar{:style => "width:#{pc.person.mdl_grade_tracks.send(ct).last.try(:completion_percent)}%"}
                        = total
                      .text-muted 
                        - if total == 0
                          0
                        out of 
                        = out_of
                - else
                  %td.text-center.danger
                    %i.fa.fa-frown-o
              - else
                %td
-# if @user.staff?
  .row
    .span5
      .row.home-page-block.left{:load_block => reviews_block_course_url(@topic)}= image_tag "ajax-loader.gif"
    .span5
      - unless @topic.entry_reqs.empty?
        .row.home-page-block.right{:load_block => entry_reqs_block_course_url(@topic)}= image_tag "ajax-loader.gif"
