%ul.row.nav.nav-tabs#course-home-tabs
  %li.active 
    %a{:href => "#photo-list", "data-toggle" => "tab"} Photo List
  %li 
    %a{:href => "#traffic-lights", "data-toggle" => "tab"} Traffic Lights

.tab-content
  .tab-pane.fade.in.active.panel.panel-default.row#photo-list{:style => "border-top: 0"}
    %br
    .col-xs-12
      .btn-group{:style => "margin-bottom:15px"}
        %a.btn.btn-primary.btn-sm.active{"data-course-person-filter" => "show-all"}
          %i.fa.fa-filter
            All
        - @statuses.each do |s|
          %a.btn.btn-sm{"data-course-person-filter" => s.first.parameterize, :class => "btn-#{s.last}"}= s.first
    = render :partial => "people/enrolment", :collection => @person_courses
  .tab-pane.fade.panel.panel-default.row#traffic-lights
    %table.table.table-hover.table-condensed.table-responsive
      %thead
        %tr
          %th{:colspan => 2}
          %th.bl Core
          %th.core_hide.visible-lg{:colspan => 2}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".core_hide"}
              %i.fa.fa-eye
          %th.bl English
          %th.visible-lg.english_hide{:colspan => 2}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".english_hide"}
              %i.fa.fa-eye
          %th.bl Maths
          %th.visible-lg.maths_hide{:colspan => 2}
          %th.text-right
            %button.btn.btn-link.btn-xs.hidden-lg{"data-row-hide" => ".maths_hide"}
              %i.fa.fa-eye
          %th.bl{:colspan => 3}
        %tr
          %th.text-right Name
          %th LV3A
          - ["core","english","maths"].each do |ct|
            %th.bl Att
            %th.visible-lg{:class => "#{ct}_hide"} MAG
            %th.visible-lg{:class => "#{ct}_hide"} TAG
            %th Grade
          %th.bl Review
          %th PI
          %th WP
      %tbody
        - @person_courses.each do |pc|
          %tr
            %td.text-right{:class => pc.cl_status}
              %b= link_to pc.name, pc.person
            - if pc.person.l3va
              %td= pc.person.l3va
            - else
              %td.bl.danger.text-center
                %i.fa.fa-frown-o
            - ["core","english","maths"].each do |ct|
              - if pc.person.attendance(ct)
                %td.bl{:class => pc.person.attendance(ct).status(true)}= "#{pc.person.attendance(ct).try :att_year}%"
              - else
                %td.bl.danger.text-center
                  %i.fa.fa-frown-o
              - if mag = pc.person.mdl_grade_tracks.send(ct).last.try(:mag)
                %td.visible-lg{:class => "#{ct}_hide"}= mag
              - else
                %td.visible-lg.danger.text-center{:class => ["#{ct}_hide","danger"]}
                  %i.fa.fa-frown-o
              - if tag = pc.person.mdl_grade_tracks.send(ct).last.try(:tag)
                %td.visible-lg{:class => "#{ct}_hide"}= tag
              - else
                %td.visible-lg.danger.text-center{:class => "#{ct}_hide"}
                  %i.fa.fa-frown-o
              %td{:class => pc.person.mdl_grade_tracks.send(ct).last.try(:status)}= pc.person.mdl_grade_tracks.send(ct).last.try :total
            - if Settings.current_review_window
              - if cr = pc.person.reviews.where(:window => Settings.current_review_window).first
                %td.bl.text-center{:class => cr.published ? "success"   : "warning",
                                   :title => cr.published ? "Published" : "Started"}
                  = link_to person_event_url(cr.person, cr.events.creation.first) do
                    - if cr.published
                      %i.fa.fa-star-full
                    - else
                      %i.fa.fa-star-half-full
              - else
                %td.bl.text-center.danger{:title => "Not Started"}
                  = link_to(person_view_url(pc.person,View.where(:name => "reviews").for_user.first)) do
                    %i.fa.fa-star-o
            - else
              %td{:title => "No Review Open"}
            %td
              - ints = pc.person.events.where(:eventable_type => "Intervention",:transition => :create).this_year.count
              - if ints != 0
                = link_to(person_view_url(pc.person,View.where(:name => "intervention").for_user.first)) do
                  .label.label-danger= ints
            %td
            -#%td
            
-#
  .span9.btn-group{"data-toggle" => "buttons-radio", :style => "margin-bottom:10px;"}
    %a.btn.btn-primary.active{"data-course-person-filter" => "show-all"} 
      %i.icon-white.icon-filter
      All
    - @statuses.each do |s|
      - next if s.blank?
      %a.btn{"data-course-person-filter" => s.parameterize}= s
  = render :partial => "person", :collection => @person_courses, :as => "pc"

-# if @user.staff?
  .row
    .span5
      .row.home-page-block.left{:load_block => reviews_block_course_url(@topic)}= image_tag "ajax-loader.gif"
    .span5
      - unless @topic.entry_reqs.empty?
        .row.home-page-block.right{:load_block => entry_reqs_block_course_url(@topic)}= image_tag "ajax-loader.gif"
