#course_home
  #details.block.wide
    %h3 Course Details
    #top_button= button_to "#{@user.my_courses.try("include?",@topic.id) ? "Remove from" : "Add to"} My Courses", add_course_url(@course)
    %dl
      %dt Course Title:
      %dd= @topic.title
      %dt Course Code:
      %dd.last= @topic.code
      %dt Course Date:
      %dd.last= @topic.year
  #students.block.wide
    .clearfix{:style => "height:#{[[255,((@topic.person_courses.count / 4)+1) * 85].min,85].max}px;padding-top:1ex"}
      - @topic.person_courses.each do |pc|
        - next unless pc.person
        = render :partial => "person", :object => pc.person, :locals => {:status => pc.status}
    - if @topic.person_courses.count > 12
      #expand_students{:style => "cursor:pointer"} See all students...
  .block.left{:load_block => moodle_block_course_url(@topic)}= image_tag "ajax-loader.gif"
  .block.right{:load_block => next_lesson_block_course_url(@topic)}= image_tag "ajax-loader.gif"
  - if @user.staff?
    .block.left{:load_block => reviews_block_course_url(@topic)}= image_tag "ajax-loader.gif"
