- begin
  %tr
    %td= link_to absence.person.forename + ' ' + absence.person.surname, "/people/#{absence.person.mis_id}/timetables"
    %td{:style => "text-align: center"}= absence.usage_code
    %td= absence.category
    %td{:style => "max-width:250px"}= absence.body
    %td{:style => "text-align: center"}= absence.lessons_missed
    %td= absence.notified_at.strftime("%d-%m-%Y %H.%M")
    %td= absence.contact_category
    %td= absence.start_date.strftime("%d-%m-%Y")
    %td= absence.end_date.strftime("%d-%m-%Y")
    %td= check_box_tag(dom_id(absence) + "_cb", 1, false, :disabled => !(params[:validate]))
- rescue
  %td= "ERROR in abs#{absence.id}"