- if @user.staff?
  .panel.panel-default
    .panel-heading
      %h4.panel-title 
        %a{"data-toggle" => "collapse", "data-parent" => "#sidebar-accordion", :href => "#my-courses-block"}
          %i.fa.fa-fw.fa-bookmark
          My Courses
    #my-courses-block.panel-collapse.collapse
      .panel-body
        - if @user.my_courses.try "any?"
          %ul.fa-ul
            - @user.my_courses.map{|c| Course.find(c)}.each do |course|
              %li
                = link_to course do
                  %i.fa.fa-li.fa-link
                  = course.name

          
- if @sidebar_links
  - tmpid = "custom_links_1"
  - @sidebar_links.each do |menu|
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-toggle" => "collapse", "data-parent" => "#sidebar-accordion", :href => "##{tmpid}"}
            %i.fa.fa-fw{:class => menu[1]}
            = menu[0]
      .panel-collapse.collapse{:id => tmpid}
        .panel-body
          %ul.fa-ul
            - menu[2].each do |item|
              %li
                = link_to item[1] do
                  %i.fa.fa-li{:class => item[2] || "fa-link"}
                  = item[0]
    - tmpid.next!
