.btn-group.btn-group-justified.panel
  - if @topic.staff?
    - if controller_name == "people" && !@progress_bar.empty?
      = link_to(person_timetables_url(@topic), :class => "btn btn-default") do
        %i.fa.fa-fw.fa-calendar
        Timetable
  - else     
    - if controller_name == "timetables"
      = link_to(person_url(@topic), :class => "btn btn-default") do
        %i.fa.fa-fw.fa-home
        Home
    - else
      = link_to(person_timetables_url(@topic), :class => "btn btn-default") do
        %i.fa.fa-fw.fa-calendar
        Timetable
  - if @user.staff? && Settings.ebs_link_name.present?
    = link_to(Settings.ebs_person_base_url + @topic.mis_id.to_s, :class => "btn btn-default slchk") do
      %i.fa.fa-fw{:class => Settings.ebs_link_icon}
      = Settings.ebs_link_name

- if @user.staff? && Settings.elaaf_base_url.present?
  .btn-group.btn-group-justified.panel
    - elaaf_url = Settings.elaaf_base_url.to_s.dup
    - elaaf_url[Settings.elaaf_student_number_place_holder] = @topic.mis_id.to_s if Settings.elaaf_student_number_place_holder.present?
    = link_to(elaaf_url, :class => "btn btn-default", :target => '_blank') do
      %i.fa.fa-fw{:class => Settings.elaaf_link_icon}
      = Settings.elaaf_link_name
