.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a(data-toggle="collapse" data-parent="#sidebar-accordion" data-target="#personal-details")
        %i.fa.fa-user.fa-fw
        Personal Details
  #personal-details.panel-collapse.collapse
    .panel-body
      %dl
        %dt Address
        %dd= @topic.address_text
        - unless @topic.home_phone.blank?
          %dt Home Phone
          %dd= @topic.home_phone
        - unless @topic.mobile_number.blank?
          %dt Mobile Phone
          %dd= @topic.mobile_number
        - unless @topic.personal_email.blank?
          %dt Personal Email
          %dd= mail_to(@topic.personal_email)
        - if @topic.date_of_birth 
          %dt Date of Birth
          %dd= "#{@topic.date_of_birth.to_date.to_s} (Age: #{@topic.age})"
        - unless @topic.next_of_kin.blank?
          %dt Next of Kin
          %dd= @topic.next_of_kin
      - if @topic.current_user?
        .text-right
          Are your details incorrect?
          = link_to "Notify Us", Settings.notify_details_change_url, :class => "btn btn-info"
