%ul.breadcrumb
  %li
    = render "layouts/admin_menu"
    %span.divider /
  %li
    = link_to "Views", admin_views_path
    %span.divider /
  %li= @view.label

%h1 
  Editing view:
  = @view.label
  = "(#{@view.affiliations.join(", ")})"

= form_for @view, :url => admin_view_path, :html => {:class => "form-horizontal"} do |f|
  .control-group
    %label.control-label Label 
    .controls
      = f.text_field :label
      .help-block The name of the view used on links
  .control-group
    %label.control-label Name
    .controls
      = f.text_field :name
      .help-block The text used in the URL for this view
  .control-group
    %label.control-label Icon URL
    .controls
      = f.text_field :icon_url
      .help-block URL of the icon used on links
  .control-group
    %label.control-label Affiliations
    .controls
      = f.select :affiliations, Person::AFFILIATIONS, {}, {:multiple => true}
      .help-block Which user types can see this view
  .control-group
    %label.control-label Events
    .controls
      = f.select :events, @event_types, {}, {:multiple => true}
      .help-block Which event types show in this view
  .control-group
    %label.control-label Transitions
    .controls
      = f.select :transitions, Event::TRANSITIONS, {}, {:multiple => true}
      .help-block Which transition types show in this view
  .control-group
    %label.control-label Show In List
    .controls
      = f.check_box :in_list
      .help-block Check to show a link to the view in the sidebar list
  .form-actions
    = link_to "Cancel", admin_views_path, :class => "btn"
    = link_to_submit :class => "btn btn-primary" do
      %i.icon-hdd.icon-white
      Save Changes
    = link_to admin_view_path, :method => :delete, :class => "btn btn-danger pull-right", :confirm => "Sure?" do 
      %i.icon-trash.icon-white
      Delete View

:coffeescript
  $('#view_affiliations').multiSelect
    selectableHeader: "<h4>Don't see view</h4>"
    selectionHeader: "<h4>Do see view</h4>"
  $('#view_events').multiSelect
    selectableHeader: "<h4>Not Included in view</h4>"
    selectionHeader: "<h4>Included in view</h4>"
  $('#view_transitions').multiSelect
    selectableHeader: "<h4>Not included in view</h4>"
    selectionHeader: "<h4>Included in view</h4>"
