%h2 THIS PAGE IS UNDER DEVELOPMENT AND MAY BE A BIT FLAKY...

%table
  %tr
    %th Icon
    %th Affiliations
    %th Name
    %th Label
    %th Events
    %th Transitions
    %th In List
  - @views.each do |view|
    %tr
      %td= image_tag view.icon_url
      %td= view.affiliations.count
      %td= view.name
      %td= view.label
      %td= view.events.count
      %td= view.transitions.count
      %td= view.in_list ? "✔" : ""
      %td= link_to "[edit]", edit_admin_view_url(view)
