%ul.breadcrumb
  %li
    = render "layouts/admin_menu"
    %span.divider /
  %li
    = link_to "Views", admin_views_path

%h1 Edit Views

%p.alert.no-fade
  %b Note: 
  Editing of views is not fully functional yet. You cannot create new views or 
  delete old ones, neither can you edit the control panes. Reordering views in the list
  is not yet implemented. Everything else should work fine.


%table.table
  %tr
    %th Icon
    %th Affiliations
    %th Name
    %th Label
    %th Events
    %th Transitions
    %th In List
    %th{:style => "width:65px"}
      %i.icon-edit
      Edit
  - @views.each do |view|
    %tr
      %td= image_tag view.icon_url
      %td= view.affiliations.sort.join(", ")
      %td= view.name
      %td= view.label
      %td= view.events.sort.join(", ")
      %td= view.transitions.sort.join(", ")
      %td 
        %i{:class => view.in_list && "icon-eye-open"}
      %td
        = link_to edit_admin_view_url(view), :class => "btn btn-warning" do
          %i.icon-edit.icon-white
          Edit

