.row
  %h1.col-xs-12 Events
    
.row
  - @stats.sort.each do |t|
    .col-sm-4
      .panel.panel-default
        .panel-body
          %h3= t.first
          %table.table
            - t.last.sort.each do |e|
              %tr
                %th= e.first
                %td= e.last

.row
  .col-xs-12.text-right
    Get this as:
    .btn-group
      = link_to(admin_stats_url(:format => :json), :class => "btn btn-default") do 
        %i.fa.fa-file-o
        JSON
      = link_to(admin_stats_url(:format => :xml), :class => "btn btn-default") do 
        %i.fa.fa-file-code-o
        XML
