#leap-about-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title About Leap
      .modal-body
        .row
          .col-xs-4.col-xs-offset-4
            = image_tag "leap-logo.png", :class => "img-responsive"
        .row
          .col-xs-10.col-xs-offset-1
            %h4.text-center 
              Open source individual learning plans
              %br/
              %small Copyright 2011&ndash;2014 South Devon College
        .row
          .col-xs-10.col-xs-offset-1.text-center
            .btn-group.btn-group-lg
              = link_to "https://github.com/sdc/leap", :target => "_BLANK", :class => "btn btn-default", :title => "Leap on Github" do
                %i.fa.fa-fw.fa-github
              = link_to "https://twitter.com/leapilp", :target => "_BLANK", :class => "btn btn-default", :title => "Leap on Twitter"  do
                %i.fa.fa-fw.fa-twitter
              = link_to "https://plus.google.com/+leap-ilp", :target => "_BLANK", :class => "btn btn-default", :title => "Leap on Google+" do
                %i.fa.fa-fw.fa-google-plus
              = link_to "mailto:leap@southdevon.ac.uk", :target => "_BLANK", :class => "btn btn-default", :title => "Email us" do
                %i.fa.fa-fw.fa-envelope
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}Close
