#person_photo= image_tag("#{url_for(@topic)}.jpg", :size => "130x130", :style => "display:none")
%h1= @topic.name
%h5.quiet= @topic.uln
%nav
  %h3= debug(event_filter_url(:eventable_type => :target))
  = icon_link "Home"
  = icon_link "Events", person_events_url(@topic)
  = icon_link "Courses", event_filter_url(:eventable_type => :PersonCourse, :transition => :start)
  = icon_link "Targets", event_filter_url(:eventable_type => :Target)
  = icon_link "Messages", event_filter_url(:eventable_type => :Note)
  = icon_link "Reviews"
  = icon_link "Timetable"
  = icon_link "Qualifications"
  = icon_link "Support"
