.person_photo= image_tag(url_for(@topic), :size => "140x140")
%h1= @topic.name
%nav
    = icon_link "Home"
    = icon_link "Events", person_events_url(@topic)
    = icon_link "Courses"
    = icon_link "Targets"
    = icon_link "Reviews"
    = icon_link "Timetable"
    = icon_link "Qualifications"
    = icon_link "Support"
    = icon_link "Messages"
