#person_photo= image_tag("#{url_for(@topic)}.jpg", :size => "130x130", :style => "display:none")
%h1= @topic.name
%h5.quiet= link_to_if @affiliation == "staff", @topic.mis_id, Settings.ebs_person_base_url + @topic.mis_id.to_s
%nav
  = icon_link @affiliation == "staff" ? "Person Home" : "Home", @topic, "home"
  = icon_link "Timetable", person_timetables_url(@topic)
  - if @affiliation == "staff"
    = icon_link "SparkE", Settings.ebs_person_base_url + @topic.mis_id.to_s, "sparke"
  %h3 Events
  = render @views
