#person_photo= image_tag("#{url_for(@topic)}.jpg", :size => "130x130", :style => "display:none")
%h1= @topic.name
%h5.quiet= @topic.uln
%nav
    = icon_link "Home"
    = icon_link "Events", person_events_url(@topic)
    = icon_link "Courses"
    = icon_link "Targets"
    = icon_link "Reviews"
    = icon_link "Timetable"
    = icon_link "Qualifications"
    = icon_link "Support"
    = icon_link "Messages"
