#person_photo= image_tag("#{url_for(@topic)}.jpg", :size => "130x130", :style => "display:none")
%h1= @topic.name
%h5.quiet= @topic.mis_id
%nav
  = icon_link "Home", @topic
  = icon_link "Timetable", person_timetables_url(@topic)
  %h3 Events
  = icon_link "All", person_events_url(@topic), "events"
  = render @views
