#person_photo= image_tag("#{url_for(@topic)}.jpg", :size => "130x130", :style => "display:none")
%h1= @topic.name
%h5.quiet= link_to @topic.mis_id, Settings.ebs_person_base_url + @topic.mis_id.to_s
%nav
  = icon_link "Home", @topic
  = icon_link "Timetable", person_timetables_url(@topic)
  %h3 Events
  = render @views
