.person-photo= image_tag(@topic.photo_uri, :size => "130x130")
%h1= @topic.name
- if @topic.kind_of? Course and @topic.person_courses.detect{|pu| !pu.tutorgroup.blank?}
  = select_tag :tutorgroup_id, options_for_select([["Tutorgroups",url_for(:tutorgroup => nil)]] + @topic.tutorgroups.map{|tg| [tg,url_for(:tutorgroup => tg)]},url_for(:tutorgroup => @tutorgroup)), :class => "span2"
%h6= link_to_if @affiliation == "staff", @topic.mis_code, Settings.ebs_person_base_url + @topic.mis_id.to_s
%ul.sidebar
  = icon_link @user.staff? ? "#{@topic.class.name.humanize} Home" : "Home", @topic, "home"
  = icon_link "Timetable", send("#{@topic.class.name.underscore}_timetables_url", @topic)
  - if @affiliation == "staff" and !Settings.ebs_person_base_url.blank? and Settings.ebs_link_name.present?
    = icon_link Settings.ebs_link_name, Settings.ebs_person_base_url + @topic.mis_id.to_s, "sparke"
%h3 Events
%ul= render @views
