.inner
  - form_tag search_people_url, :method => :get, :id=> "search_form" do
    =link_to image_tag("icons/leap-logo.png"), search_people_url
    =link_to image_tag("icons/search.png", :class => "icon"), search_people_url
    = text_field_tag :q, params[:q]
    = submit_tag "Search", :class => "search"
  #multi-view
    - if controller.controller_name == "views"
      = link_to :class => "search", :all => true do
        = image_tag "icons/multi.png"
        Everyone
    - else
      &nbsp;
  #notice= Settings.top_bar_notice
  #login_name
    = image_tag("#{url_for(@user)}.jpg")
    = link_to @user.name, person_url(@user)
