.inner
  #nav_logo
    =link_to image_tag("icons/leap-logo.png"), search_people_url
  - form_tag search_people_url, :method => :get, :id=> "search_form" do
    /*=link_to image_tag("icons/search.png", :class => "icon"), search_people_url*/
    = text_field_tag :q, params[:q]
    = submit_tag "Search", :class => "styled_button", :id => "top_nav_search"
  #multi-view
    - if controller.controller_name == "views"
      = link_to :class => "search", :all => true do
        .block_border
          .block
            .left
              = image_tag "icons/multi.png"
            .right
              Everyone
    - else
      &nbsp;
  #notice= Settings.top_bar_notice
  #login_name
    = link_to person_url(@user) do
      .left
        = image_tag("#{url_for(@user)}.jpg")
      .right
        = @user.forename
        %br
        = @user.surname
