.inner
  - form_tag search_people_url, :method => :get, :id=> "search_form" do
    = image_tag "icons/search.png"
    = text_field_tag :q, params[:q]
    = submit_tag "Search", :class => "search"
  #multi-view
    - if controller.controller_name == "views"
      = link_to :class => "search", :all => true do
        = image_tag "icons/multi.png"
        Everyone
    - else
      &nbsp;
  #notice
    This is beta software. Changes you make will be temporary!
  #login_name
    logged in as
    = link_to @user.name, person_url(@user)
    = "(#{@affiliation})" unless @affiliation == "student"
              
