.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .brand= image_tag "icons/leap-logo.png"
      = form_tag search_people_url, :method => :get, :class => "navbar-search pull-left" do
        = text_field_tag :q, params[:q], :class => "search-query has-popover", :placeholder => "Search...", "data-title" => "Searching.", "data-placement" => "bottom", "data-content" => "Search by all or part of a learner's name, person code, course title or course code"
      %ul.nav.pull-left
        - if controller.controller_name == "views"
          %li.has-popover{"data-title" => "Show Everyone.", 
                          "data-content" => "Change event timeline to show all learners at the institution", 
                          "data-placement" => "bottom"}
            = link_to :all => true, :date => @date do
              %i.fa.fa-user.fa-fw{:style => "width: 10px; height: 10px"}
              Everyone
        - if @topic
          %li.has-popover{"data-title" => "Refresh Data.",
                          "data-content" => "Load current data from MIS. This may take some time, especially on course pages",
                          "data-placement" => "bottom"}
            = link_to params.merge(:refresh => true).permit(:refresh) do
              %i.fa.fa-refresh.fa-fw
              Refresh
      %ul.nav.pull-right
        - if Person.user.admin?
          = render "layouts/admin_menu"
          %li.divider-vertical
        %li.has-popover{"data-title" => "Home.",
                        "data-content" => "Go to your own home page.",
                        "data-placement" => "bottom"}
          = link_to @user do
            %i.fa.fa-home
            =@user.name
    -#help_button{:title => "Help for this page"}
      = image_tag "actions/help.png"
