!!!
%html{:lang => "en"}
  %head
    %title Leap
    = stylesheet_link_tag "application"
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
  %body(ng-app="leapApp" ng-controller="topicController")
    = render "layouts/top_bar/main"
    .container
      .row.visible-xs.visible-sm
        .col-xs-12.hidden-sidebar
          %h3{:style => "margin-top:0"}
            {{ topic.name }}
            %small {{ topic.code }}
      .row 
        #sidebar.col-lg-3.col-md-4.visible-lg.visible-md
          .namebox.panel
            .body
              .row
                %img.namebox-pic(ng-src="/people/{{ topic.mis_id }}.jpg")
                .col-xs-7.person-info
                  %h4 {{ topic.name }}
                  %h4
                    %small {{ topic.mis_id }}
                  %h5.flags
                    -# if topic.kind_of? PersonCourse
                      .label{:class => "label-#{topic.cl_status}"}= topic.mis_status
                      - unless topic.tutorgroup.blank?
                        %small= topic.tutorgroup
                    %a(data-toggle="modal" title="Note on student records system" data-target="#note-modal" ng-show="topic.note")
                      %i.text-warning.fa.fa.fa-flag
                    %i.text-danger.fa.fa-exclamation-triangle(title="Do not contact this person!" ng-hide="topic.contact_allowed")
                    %i.text-success.fa.fa-mortar-board(title="Staff Member" ng-show="topic.staff")
          .btn-group.btn-group-justified.panel
            %a.btn.btn-default(ng-href="/people/{{ topic.mis_id }}" ng)
              %i.fa.fa-fw.fa-home
              Home
            %a.btn.btn-default(ng-href="/people/{{ topic.mis_id }}/timetables")
              %i.fa.fa-fw.fa-calendar
              Timetable
            -# if @user.staff?
              = link_to(Settings.ebs_person_base_url + @topic.mis_id.to_s, :class => "btn btn-default") do
                %i.fa.fa-fw{:class => Settings.ebs_link_icon}
                = Settings.ebs_link_name
          .panel.panel-default
            .panel-heading
              %h4.panel-title= Settings.front_page_note_prompt
            .panel-body
              %form.form-inline{action: "/events"}
                .input-group
                  %input.form-control{type: "text", name: "note[body]", placeholder: "Write a note:"}
                  %span.input-group-btn
                    %button{:type => "submit", :class => "btn btn-primary"}
                      %i.fa.fa-edit
          -# elsif @topic.kind_of? Course
            = render :partial => "layouts/sidebar/course_buttons"
          #sidebar-accordion.panel-group
            .panel.panel-default(ng-if="!topic.staff")
              .panel-heading
                %h4.panel-title
                  %a(data-toggle="collapse" data-parent="#sidebar-accordion" data-target="#personal-details")
                    %i.fa.fa-user.fa-fw
                    Personal Details
              #personal-details.panel-collapse.collapse
                .panel-body
                  %dl
                    %dt Address
                    %dd {{ topic.address_text }}
                    %span(ng-if="topic.home_phone")
                      %dt Home Phone
                      %dd {{ topic.home_phone }}
                    %span(ng-if="topic.mobile_number")
                      %dt Mobile Phone
                      %dd {{ topic.mobile_number }}
                    %span(ng-if="topic.personal_email")
                      %dt Personal Email
                      %dd 
                        %a(ng-href="mailto:{{ topic.personal_email}}") {{ topic.personal_email }}
                    %span(ng-if="topic.date_of_birth")
                      %dt Date of Birth
                      %dd {{ topic.date_of_birth | date:'d MMMM yyyy' }} (Age: {{ topic.age }})
                    %span(ng-if="topic.next_of_kin")
                      %dt Next of Kin
                      %dd= @topic.next_of_kin
                  %span(ng-if="topic.mis_id == user.mis_id")
                    .text-right
                      Are your details incorrect?
                      = link_to "Notify Us", Settings.notify_details_change_url, :class => "btn btn-info"
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a(data-toggle="collapse" data-parent="#sidebar-accordion" data-target="#timeline-links")
                    %i.fa.fa-clock-o.fa-fw
                    Timeline
              #timeline-links.panel-collapse.collapse.in
                .panel-body
                  %ul(ng-controller='viewsController')
                    %li(ng-repeat="view in views")
                      %a(ng-href="/views#/timeline/{{ view.name }}/{{ topic.mis_id }}")
                        %img(ng-src='/assets/{{ view.icon_url }}')
                        {{ view.label }}
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a(data-toggle="collapse" data-parent="#sidebar-accordion" data-target="#moodle-courses")
                    %i.fa.fa-graduation-cap.fa-fw
                    Moodle Courses
              #moodle-courses.panel-collapse.collapse
                .panel-body
                  %a{href: "#{Settings.moodle_host}#{Settings.moodle_path}", target: Settings.moodle_link_target}
                    %h4
                      %i.fa.fa-home
                      Moodle Home
                  %ul(ng-controller="moodleCoursesController")
                    %li(ng-repeat="course in courses")
                      %a(ng-href="{{ course.url }}"
                         style="font-weight: {{ course.canedit ? 'bold' : 'normal' }}"
                         target="Settings.moodle_link_target") {{ course.name }}
            =# render "layouts/sidebar/custom_links"
        #main-content.col-xs-12{:class => @topic ? ["col-lg-9","col-md-8"] : nil}
          = yield
        - if @topic.kind_of? Person
          #note-modal.modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  %h4.modal-title Learner has a note on student records system.
                .modal-body
                  - if Person.user.admin?
                    = simple_format @topic.note
                  - else
                    %p Contact your student records department or Leap admin for more information
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal"}Close
          #leap-about-modal.modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  %h4.modal-title About Leap
                .modal-body
                  .row
                    .col-xs-4.col-xs-offset-4
                      %img.img-responsive{src: asset_path("leap-logo.png")}
                  .row
                    .col-xs-10.col-xs-offset-1
                      %h4.text-center
                        Open source individual learning plans
                        %br/
                        %small Copyright 2011&ndash;2014 South Devon College
                  .row
                    .col-xs-10.col-xs-offset-1.text-center
                      .btn-group.btn-group-lg
                        %a.btn.btn-default{href: "https://github.com/sdc/leap", target: "_BLANK", title: "Leap on Github"}
                          %i.fa.fa-fw.fa-github
                        %a.btn.btn-default{href: "https://twitter.com/leapilp", target: "_BLANK", title: "Leap on Twitter"}
                          %i.fa.fa-fw.fa-twitter
                        %a.btn.btn-default{href: "https://plus.google.com/+leap-ilp", target: "_BLANK", title: "Leap on Google+"}
                          %i.fa.fa-fw.fa-google-plus
                        %a.btn.btn-default{href: "mailto:leap@southdevon.ac.uk", target: "_BLANK", title: "Email us"}
                          %i.fa.fa-fw.fa-envelope
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal"}Close
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{Settings.google_analytics_code}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
