!!!
%html
  %head
    - if @topic
      %title= "#{@topic.name} : Leap"
    - else
      %title Leap
    = favicon_link_tag
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    = javascript_include_tag "application"
    = csrf_meta_tag
    = render :partial => "layouts/ganalytics" unless Settings.google_analytics_code.empty?
  %body
    = render :partial => "layouts/top_bar" if @user.try(:staff?)
    #main-container.container
      .row
        #side-pane.span2
          - if params[:all] and @user.staff?
            = render :partial => "layouts/all_sidebar"
          - elsif @topic.kind_of? Person
            = render :partial => "layouts/#{@topic.class.name.underscore}_sidebar" if @topic
          - else
            &nbsp;
        #main-pane.span10
          - [:success,:error].each do |n|
            - if flash[n]
              .row.alert.fade.in{:class => "alert-#{n}"}
                %button{:class => "close", "data-dismiss" => "alert"}×
                = flash[n]
          = yield
    #footer= render :partial => "layouts/footer"
    - if @affiliation == "affiliate"
      .hovery= image_tag "parent_mode.png"
    #help{:style => "display:none"}
