!!!
%html{:lang => "en"}
  %head
    %title
      - if @topic or @page_title
        = "#{@topic.try(:name) or @page_title} : Leap" 
      - else
        Leap
    = stylesheet_link_tag "application"
    = stylesheet_link_tag  'https://fonts.googleapis.com/css?family=Patua+One'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css'
    = javascript_include_tag "//code.jquery.com/jquery-1.11.0.min.js"
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js'
    = javascript_include_tag 'cl'
    = csrf_meta_tag
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    = render :partial => "layouts/ganalytics" unless Settings.google_analytics_code.empty? or Rails.env == "development"
  %body#cleap{:class => Person.affiliation}
    = render "layouts/top_bar/main"
    .container
      - if @topic
        .row.visible-xs.visible-sm
          .col-xs-12.hidden-clidebar
            %h3{:style => "margin-top:0"}
              = @topic.name
              %small= @topic.code
      .row 
        - if @topic
          #clidebar.col-lg-3.col-md-4.visible-lg.visible-md
            = render :partial => "#{@topic.class.name.downcase.pluralize}/namebox", :object => @topic, :as => :topic
            - if @topic.kind_of? Person
              = render :partial => "layouts/sidebar/person_buttons"
              = render :partial => "people/new_note"
            - elsif @topic.kind_of? Course
              = render :partial => "layouts/sidebar/course_buttons"
            #sidebar-accordion.panel-group
              = render "layouts/sidebar/personal_details" if @topic.person? unless @topic.staff?
              = render "layouts/sidebar/timeline_links"
              = render "layouts/sidebar/moodle_links"
              = render "layouts/sidebar/custom_links"
        #main-content.col-xs-12{:class => @topic ? ["col-lg-9","col-md-8"] : nil}= yield
        - if @topic.kind_of? Person
          = javascript_tag "$('#moodle-courses-links').load('#{moodle_block_person_url(@topic)}')"
          #note-modal.modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  %h4.modal-title Learner has a note on student records system.
                .modal-body
                  - if Person.user.admin?
                    = simple_format @topic.note
                  - else
                    %p Contact your student records department or Leap admin for more information
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal"}Close
        = render :partial => "layouts/footer"
