!!!
%html{:lang => "en"}
  %head
    %title= @topic ? "#{@topic.name} : Leap"  : "Leap"
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    = stylesheet_link_tag  'https://fonts.googleapis.com/css?family=Patua+One'
    = stylesheet_link_tag 'cloud'
    = javascript_include_tag "//code.jquery.com/jquery-1.11.0.min.js"
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
    = javascript_include_tag 'jquery.peity.min'
    = javascript_include_tag 'cloud_events'
    = csrf_meta_tag
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    = render :partial => "layouts/ganalytics" unless Settings.google_analytics_code.empty? or Rails.env == "development"
  %body#cleap{:class => ([Person.affiliation] + @courses || [])}
    .container.nrp
      %nav.navbar.navbar-default
        .navbar-header
          %button.navbar-toggle{"data-toggle" => "collapse", "data-target" => "#navbar-collapse"}
            %i.fa.fa-bars
          = link_to "#leap-about-modal", {"data-toggle" => "modal"} do
            = image_tag "icons/leap-logo.png", :class => "navbar-brand"
          %p.navbar-text.pull-right.visible-xs= link_to @user.name, @user, :class => "navbar-link"
        #navbar-collapse.collapse.navbar-collapse
          - if @user.staff?
            = form_tag search_people_url, :method => :get, :class => "navbar-form navbar-left" do
              .input-group
                = text_field_tag :q, params[:q], :class => "form-control", :placeholder => "Search..."
                %span.input-group-btn
                  %btn{:class => "btn btn-default"}
                    %i.fa.fa-search
                    Go
          %ul.nav.navbar-nav
            - if @user.admin?
              %li.hidden-xs.dropdown{:style => "margin-right:10px"}
                %button.btn.navbar-btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
                  Admin
                  %i.fa.fa-caret-down
                %ul.dropdown-menu
                  %li
                    = link_to admin_settings_url do
                      %i.fa.fa-cog.fa-fw 
                      Edit Settings
                  %li
                    = link_to admin_views_url do
                      %i.fa.fa-th-list.fa-fw 
                      Setup Views
                  %li
                    = link_to admin_stats_url do
                      %i.fa.fa-bar-chart-o.fa-fw 
                      Statistics 
            %li.dropdown.hidden-xs
              %button.btn.navbar-btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
                Write Note
                %i.fa.fa-edit
              .panel.dropdown-menu.dropdown-menu-right.panel-default{:style => "width:400px;padding-top:0"}
                .panel-heading
                  %h4.panel-title= Settings.front_page_note_prompt
                .panel-body
                  = form_for @user.notes.new, :url => "/events" do |f|
                    = f.hidden_field :person_id
                    = hidden_field_tag :eventable_type, "Note"
                    = hidden_field_tag :redirect_to, person_view_url(@user, View.for_user.where(:name => "all").first, :anchor => "current_time_break")
                    .input-group
                      = f.text_field :body, :class => "form-control", :placeholder => "Write a note..."
                      %span.input-group-btn
                        %button{:type => "submit", :class => "btn btn-primary"}
                          %i.fa.fa-edit

          %button.navbar-btn.btn.btn-default.navbar-right.visible-sm#show-clidebar
            %i.fa.fa-bars
          %p.navbar-text.navbar-right
            %span.hidden-sm
              Logged in as
            = link_to @user.name, @user, :class => "navbar-link"
            - if Rails.env == "development"
              = link_to admin_test_login_url, :title => "Click to change user" do
                %i.fa.fa-refresh
    .container
      .row.visible-xs.visible-sm
        .col-xs-12.hidden-clidebar
          %h3{:style => "margin-top:0"}
            = @topic.name
            %small= @topic.mis_id
      .row 
        #clidebar.col-xs-12.col-lg-3.col-md-4.visible-lg.visible-md
          .panel.panel-default
            .panel-body
              .row
                .col-md-6.col-sm-2.col-xs-6
                  = image_tag @topic.photo_uri, :id => "person-photo", :class => "img-responsive img-circle"
                .name.text-left.col-md-6.col-sm-10.col-xs-6
                  %h4= @topic.name
                  %h4
                    %small= @topic.mis_id
                  %h5.flags
                    - if @user.staff? and !@topic.note.blank?
                      = link_to "#note-modal", {"data-toggle" => "modal", :title => "Note on student records system"} do
                        %i.text-warning.fa.fa.fa-flag
                    - if @user.staff? and !@topic.contact_allowed
                      %i.text-danger.fa.fa-exclamation-triangle{:title => "Do not contact this person!"}
                    - if @topic.staff?
                      %i.text-success.fa.fa-mortar-board{:title => "Staff Member"}
          .btn-group.btn-group-justified.panel
            = link_to(person_timetables_url(@topic), :class => "btn btn-default") do
              %i.fa.fa-fw.fa-calendar
              Timetable
            - if @user.staff?
              = link_to(Settings.ebs_person_base_url + @topic.mis_id.to_s, :class => "btn btn-default") do
                %i.fa.fa-fw.fa-bolt
                SparkE
          = render :partial => "new_note"
          #sidebar-accordion.panel-group
            - unless @topic.staff?
              .panel.panel-default
                .panel-heading
                  %h4.panel-title
                    %a{"data-toggle" => "collapse", "data-parent" => "#sidebar-accordion", :href => "#personal-details"}
                      %i.fa.fa-user.fa-fw
                      Personal Details
                #personal-details.panel-collapse.collapse
                  .panel-body
                    %dl
                      %dt Address
                      %dd= @topic.address_text
                      - unless @topic.home_phone.blank?
                        %dt Home Phone
                        %dd= @topic.home_phone
                      - unless @topic.mobile_number.blank?
                        %dt Mobile Phone
                        %dd= @topic.mobile_number
                      - unless @topic.personal_email.blank?
                        %dt Personal Email
                        %dd= mail_to(@topic.personal_email)
                      - if @topic.date_of_birth
                        %dt Date of Birth
                        %dd= @topic.date_of_birth.to_date.to_s
                      - unless @topic.next_of_kin.blank?
                        %dt Next of Kin
                        %dd= @topic.next_of_kin
                    - if @topic.current_user?
                      .text-right
                        Are your details incorrect?
                        = link_to "Notify Us", Settings.notify_details_change_url, :class => "btn btn-info"
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", "data-parent" => "#sidebar-accordion", :href => "#timeline-links"}
                    %i.fa.fa-clock-o.fa-fw
                    Timeline
              #timeline-links.panel-collapse.collapse
                .panel-body
                  %ul=render @views
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", "data-parent" => "#sidebar-accordion", :href => "#moodle-courses"}
                    %i.fa.fa-graduation-cap.fa-fw
                    Moodle Courses
              #moodle-courses.panel-collapse.collapse
                .panel-body
                  = link_to("#{Settings.moodle_host}#{Settings.moodle_path}",
                              {:target => Settings.moodle_link_target})  do
                    %h4
                      %i.fa.fa-home
                      Moodle Home
                  #moodle-courses-links
                    %i.fa.fa-circle-o-notch.fa-spin
                    loading...
            - if @sidebar_links
              - tmpid = "custom_links_1"
              - @sidebar_links.each do |menu|
                .panel.panel-default
                  .panel-heading
                    %h4.panel-title
                      %a{"data-toggle" => "collapse", "data-parent" => "#sidebar-accordion", :href => "##{tmpid}"}
                        %i.fa.fa-fw{:class => menu[1]}
                        = menu[0]
                  .panel-collapse.collapse{:id => tmpid}
                    .panel-body
                      %ul.fa-ul
                        - menu[2].each do |item|
                          %li
                            = link_to item[1] do
                              %i.fa.fa-li{:class => item[2] || "fa-link"}
                              = item[0]
                - tmpid.next!
        #main-content.col-xs-12.col-lg-9.col-md-8= yield
        = javascript_tag "$('#moodle-courses-links').load('#{moodle_block_person_url(@topic)}')"
        #note-modal.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                %h4.modal-title Learner has a note on student records system.
              .modal-body
                - if Person.user.admin?
                  = simple_format @topic.note
                - else
                  %p Contact your student records department or Leap admin for more information
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal"}Close
        #leap-about-modal.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                %h4.modal-title About Leap
              .modal-body
                .row
                  .col-xs-4.col-xs-offset-4
                    = image_tag "leap-logo.png", :class => "img-responsive"
                .row
                  .col-xs-10.col-xs-offset-1
                    %h4.text-center Open source individual learning plans
                .row
                  .col-xs-10.col-xs-offset-1.text-center
                    .btn-group.btn-group-lg
                      = link_to "https://github.com/sdc/leap", :target => "_BLANK", :class => "btn btn-default", :title => "Leap on Github" do
                        %i.fa.fa-fw.fa-github
                      = link_to "https://twitter.com/leapilp", :target => "_BLANK", :class => "btn btn-default", :title => "Leap on Twitter"  do
                        %i.fa.fa-fw.fa-twitter
                      = link_to "https://plus.google.com/+leap-ilp", :target => "_BLANK", :class => "btn btn-default", :title => "Leap on Google+" do
                        %i.fa.fa-fw.fa-google-plus
                      = link_to "mailto:leap@southdevon.ac.uk", :target => "_BLANK", :class => "btn btn-default", :title => "Email us" do
                        %i.fa.fa-fw.fa-envelope
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal"}Close
